/* ControlGroup.module.scss */
@use 'sass:map';
@use 'sass:meta';
@use '../../../../styles/mixins' as *;

// legend size
$control-group-sizes: (
  xs: (
    font-token: var(--project-typo-legend-5-600),
    gap: rem(10px),
  ),
  sm: (
    font-token: var(--project-typo-legend-4-600),
    gap: rem(10px),
  ),
  md: (
    font-token: var(--project-typo-legend-3-600),
    gap: rem(18px),
  ),
  lg: (
    font-token: var(--project-typo-legend-2-600),
    gap: rem(18px),
  ),
  xl: (
    font-token: var(--project-typo-legend-1-600),
    gap: rem(18px),
  ),
);

.control-group {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;

  @each $size-name, $props in $control-group-sizes {
    // ──────────────── 기본 데이터 추출 ────────────────
    $gap: map.get($props, gap);

    // ──────────────── PC 스타일 ────────────────
    &:global(.size--#{$size-name}) {
      gap: $gap;
    }
  }
}
