/* ControlGroup.module.scss */
@use 'sass:map';
@use 'sass:meta';
@use '../../../../styles/mixins' as *;

// legend size
$control-group-sizes: (
  xs: (
    font-token: var(--project-typo-legend5-600),
    gap: rem(4px),
  ),
  sm: (
    font-token: var(--project-typo-legend4-600),
    gap: rem(8px),
  ),
  md: (
    font-token: var(--project-typo-legend3-600),
    gap: rem(12px),
  ),
  lg: (
    font-token: var(--project-typo-legend2-600),
    gap: rem(1rem (6px)),
  ),
  xl: (
    font-token: var(--project-typo-legend1-600),
    gap: rem(20px),
  ),
);

.control-group {
  width: 100%;
  // Row
  &:global(.direction--row) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  }

  // Column
  &:global(.direction--column) {
    display: flex;
    flex-direction: column;
  }

  @each $size-name, $props in $control-group-sizes {
    // ──────────────── 기본 데이터 추출 ────────────────
    $gap: map.get($props, gap);

    // ──────────────── PC 스타일 ────────────────
    &:global(.size--#{$size-name}) {
      gap: $gap;
    }
  }
}
