@use 'sass:map';
@use 'sass:meta';
@use '../../../../styles/mixins' as *;

.auto-carousel {
  position: relative;
  padding: rem(20px) rem(24px);
  border-radius: var(--project-border-radius-12);
  background-color: var(--project-color-carousel-bg);
  border: rem(1px) solid var(--project-color-carousel-border);
  box-shadow: 0 0.2rem 0.8rem 0 rgba(0, 0, 0, 0.04);

  :global {
    .auto-carousel__title-area {
      display: flex;
      align-items: center;
      gap: rem(8px);
      margin-bottom: rem(16px);

      :global {
        .auto-carousel__title {
          flex: 1 1 auto;
          font: var(--project-typo-heading-3-700);

          @include ell();
        }

        .auto-carousel__controls {
          display: inline-flex;
          align-items: center;
          gap: rem(8px);

          :global {
            .swiper-btn-controls {
              display: flex;
              gap: rem(8px);
            }

            .swiper-btn-stop,
            .swiper-btn-play {
              flex: 0 0 auto;
            }
          }
        }
      }
    }

    .auto-carousel__content-area {
      display: flex;
      align-items: center;
      gap: rem(12px);
    }

    .auto-carousel__item {
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 100%;

      :global {
        a,
        button {
          display: flex;
          flex-direction: column;
          flex: 1;
          width: 100%;
          min-height: rem(82px);
          padding: rem(20px) rem(20px);
          border-radius: var(--project-border-radius-12);
          background-color: var(--project-color-carousel-card-bg);

          &:global(:focus-visible) {
            outline-offset: rem(-2px);
          }

          :global {
            .auto-carousel__item-image {
              margin-bottom: rem(8px);
              border-radius: var(--project-border-radius-8);
              overflow: hidden;
              border: rem(1px) solid var(--project-color-carousel-img-border);
              height: rem(180px);

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }

            .auto-carousel__item-title {
              font: var(--project-typo-sub-title-1-600);
              margin-bottom: rem(8px);
              word-break: keep-all;
            }

            .auto-carousel__item-desc {
              font: var(--project-typo-body-2-400);
              word-break: keep-all;
            }
          }
        }
      }
    }
  }
}
