/* Carousel.module.scss */
@use 'sass:map';
@use 'sass:meta';
@use '../../../../styles/mixins' as *;

.grid-carousel {
  position: relative;
  padding: rem(20px) rem(24px);
  border-radius: var(--project-border-radius-12);
  background-color: #e7f4fe;
  border: rem(1px) solid #d8e5fd;
  box-shadow: 0 0.2rem 0.8rem 0 rgba(0, 0, 0, 0.04);

  :global {
    .grid-carousel__bundle {
      display: flex;
      flex-wrap: wrap;
      gap: rem(12px);
      width: 100%;
      height: 100%;
    }

    .grid-carousel__item {
      display: flex;
      align-items: center;
      width: calc((100% - rem(36px)) / 4);

      &:global {
        @media (max-width: 767px) {
          width: calc((100% - rem(12px)) / 2);
        }

        @media (max-width: 480px) {
          width: 100%;
        }
      }

      &:global(:focus-visible) {
        outline-offset: rem(-2px);
      }
    }
  }
}
