/* SpoqaHanSans Caret */
@font-face {
  font-family: 'SpoqaHanSans Caret';
  src: url('../../../../assets/fonts/icon/SpoqaHanSans_Caret/3.3.0/subset/SpoqaHanSansCaret-100.woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SpoqaHanSans Caret';
  src: url('../../../../assets/fonts/icon/SpoqaHanSans_Caret/3.3.0/subset/SpoqaHanSansCaret-300.woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SpoqaHanSans Caret';
  src: url('../../../../assets/fonts/icon/SpoqaHanSans_Caret/3.3.0/subset/SpoqaHanSansCaret-400.woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SpoqaHanSans Caret';
  src: url('../../../../assets/fonts/icon/SpoqaHanSans_Caret/3.3.0/subset/SpoqaHanSansCaret-700.woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
