/* Avatar.module.scss */
@use 'sass:map';
@use '../../../../styles/mixins' as *;

$avatar-sizes: (
  sm: (
    size: rem(32px),
    icon-size: rem(18px),
    font: var(--project-typo-AvatarText4-500),
  ),
  md: (
    size: rem(48px),
    icon-size: rem(24px),
    font: var(--project-typo-AvatarText3-500),
  ),
  lg: (
    size: rem(64px),
    icon-size: rem(32px),
    font: var(--project-typo-AvatarText2-500),
  ),
  xl: (
    size: rem(80px),
    icon-size: rem(40px),
    font: var(--project-typo-AvatarText1-500),
  ),
);

$avatar-colors: (
  primary: (
    hover-border: var(--primary-hover-stroke-color-avatar),
    active-border: var(--primary-active-stroke-color-avatar),
  ),
  secondary: (
    hover-border: var(--secondary-hover-stroke-color-avatar),
    active-border: var(--secondary-active-stroke-color-avatar),
  ),
  tertiary: (
    hover-border: var(--tertiary-hover-stroke-color-avatar),
    active-border: var(--tertiary-active-stroke-color-avatar),
  ),
);

.avatar {
  position: relative;
  display: inline-flex;
  border: rem(2px) solid var(--bg-color-avatar);
  overflow: hidden;
  background-color: var(--bg-color-avatar);
  transition: all 0.2s ease;

  @each $size-name, $props in $avatar-sizes {
    @include global-mod('size--#{$size-name}') {
      width: map.get($props, size);
      height: map.get($props, size);

      @include global-mod('shape--square') {
        border-radius: 0;
      }

      @include global-mod('shape--rounded') {
        border-radius: var(--project-border-radius-8);
      }

      @include global-mod('shape--pill') {
        border-radius: var(--project-border-radius-max);
      }

      :global {
        .avatar__fallback {
          font: map.get($props, font);

          :global(.icon) {
            width: map.get($props, icon-size);
            height: map.get($props, icon-size);
          }
        }
      }
    }
  }

  @each $color-name, $variant-map in $avatar-colors {
    // colors
    @include global-mod('color--#{$color-name}') {
      @include global-mod('variant--solid') {
        @at-root button#{&},
          a#{&} {
          &:hover {
            background-color: var(--hover-bg-color-avatar);
            box-shadow: 0 rem(4px) rem(10px) 0 var(--hover-shadow-color-avatar);
          }

          &:focus-visible,
          &:active {
            transform: scale(0.95);
            background-color: var(--hover-bg-color-avatar);
            box-shadow: 0 rem(4px) rem(10px) 0 var(--hover-shadow-color-avatar);
          }
        }
      }

      @include global-mod('variant--outline') {
        border-color: var(--stroke-color-avatar);

        @at-root button#{&},
          a#{&} {
          &:hover {
            background-color: var(--hover-bg-color-avatar);
            border-color: map.get($variant-map, hover-border);
            box-shadow: 0 rem(4px) rem(10px) 0 var(--hover-shadow-color-avatar);
          }

          &:focus-visible,
          &:active {
            transform: scale(0.95);
            background-color: var(--hover-bg-color-avatar);
            border-color: map.get($variant-map, active-border);
            box-shadow: 0 rem(4px) rem(10px) 0 var(--hover-shadow-color-avatar);
          }
        }
      }
    }
  }

  :global {
    img {
      object-fit: cover;
      user-select: none;
      -webkit-user-drag: none;
    }

    .avatar__fallback {
      display: flex;
      justify-content: center;
      align-self: center;
      flex: 1;
      color: var(--fallback-text-color-avatar);
    }
  }
}
