/* Avatar.module.scss */
@use 'sass:map';
@use '../../../../styles/mixins' as *;

.container {
  position: relative;
  display: inline-block;

  // 사이즈 정의
  &.sm {
    width: 32px;
    height: 32px;
    font-size: 12px;
  }
  &.md {
    width: 48px;
    height: 48px;
    font-size: 16px;
  }
  &.lg {
    width: 64px;
    height: 64px;
    font-size: 20px;
  }
}

.avatar {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #f1f3f5;
  display: flex;
  align-items: center;
  justify-content: center;

  &.circle {
    border-radius: 50%;
  }
  &.square {
    border-radius: 8px;
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .fallback {
    font-weight: 600;
    color: #495057;
  }
}

.status {
  position: absolute;
  bottom: 2px;
  right: 2px;
  width: 25%;
  height: 25%;
  border-radius: 50%;
  border: 2px solid #fff; // 배경과 구분

  &.online {
    background-color: #40c057;
  }
  &.offline {
    background-color: #868e96;
  }
  &.away {
    background-color: #fab005;
  }
  &.busy {
    background-color: #fa5252;
  }
}
