/* OptionList.module.scss */
@use 'sass:map';
@use 'sass:meta';
@use '../../../../styles/mixins' as *;

// option-list color
$option-list-colors: (
  primary: (
    solid: (
      bg: var(--primary-bg-color-option-list-solid),
    ),
    outline: (
      bg: var(--primary-bg-color-option-list-outline),
      border: var(--primary-stroke-color-option-list-outline),
    ),
  ),
  secondary: (
    solid: (
      bg: var(--secondary-bg-color-option-list-solid),
    ),
    outline: (
      bg: var(--secondary-bg-color-option-list-outline),
      border: var(--secondary-stroke-color-option-list-outline),
    ),
  ),
  tertiary: (
    solid: (
      bg: var(--tertiary-bg-color-option-list-solid),
    ),
    outline: (
      bg: var(--tertiary-bg-color-option-list-outline),
      border: var(--tertiary-stroke-color-option-list-outline),
    ),
  ),
  success: (
    solid: (
      bg: var(--success-bg-color-option-list-solid),
    ),
    outline: (
      bg: var(--success-bg-color-option-list-outline),
      border: var(--success-stroke-color-option-list-outline),
    ),
  ),
  warning: (
    solid: (
      bg: var(--warning-bg-color-option-list-solid),
    ),
    outline: (
      bg: var(--warning-bg-color-option-list-outline),
      border: var(--warning-stroke-color-option-list-outline),
    ),
  ),
  danger: (
    solid: (
      bg: var(--danger-bg-color-option-list-solid),
    ),
    outline: (
      bg: var(--danger-bg-color-option-list-outline),
      border: var(--danger-stroke-color-option-list-outline),
    ),
  ),
);

// option-list sizes
$option-list-sizes: (
  xs: (
    width: rem(220px),
    radius: rem(8px),
    padding: rem(6px) rem(6px),
    shadow: drop-shadow(0 rem(5px) rem(10px) var(--shadow-bg-color-option-list)),
    emtpy: (
      icon-size: rem(14px),
      font: var(--project-typo-input3-500),
    ),
  ),
  sm: (
    width: rem(240px),
    radius: rem(10px),
    padding: rem(8px) rem(8px),
    shadow: drop-shadow(0 rem(6px) rem(12px) var(--shadow-bg-color-option-list)),
    emtpy: (
      icon-size: rem(16px),
      font: var(--project-typo-input3-500),
    ),
  ),
  md: (
    width: rem(260px),
    radius: rem(12px),
    padding: rem(10px) rem(10px),
    shadow: drop-shadow(0 rem(7px) rem(14px) var(--shadow-bg-color-option-list)),
    emtpy: (
      icon-size: rem(18px),
      font: var(--project-typo-input2-500),
    ),
  ),
  lg: (
    width: rem(280px),
    radius: rem(12px),
    padding: rem(12px) rem(12px),
    shadow: drop-shadow(0 rem(8px) rem(16px) var(--shadow-bg-color-option-list)),
    emtpy: (
      icon-size: rem(20px),
      font: var(--project-typo-input2-500),
    ),
  ),
  xl: (
    width: rem(300px),
    radius: rem(14px),
    padding: rem(14px) rem(14px),
    shadow: drop-shadow(0 rem(10px) rem(20px) var(--shadow-bg-color-option-list)),
    emtpy: (
      icon-size: rem(24px),
      font: var(--project-typo-input1-500),
    ),
  ),
);

// mixin - option-list variant [color + variant]
@mixin option-list-variant($variant) {
  &:global(.variant--#{$variant}) {
    @each $name, $props in $option-list-colors {
      $variant-props: map.get($props, $variant);

      @if $variant-props != null {
        &:global(.color--#{$name}) {
          // variant
          @if $variant == 'solid' or $variant == 'soft' {
            &:global(.variant--#{$variant}) {
              background-color: map.get($variant-props, bg);
            }
          } @else if $variant == 'outline' {
            &:global(.variant--#{$variant}) {
              background-color: map.get($variant-props, bg);
              border: rem(1px) solid map.get($variant-props, border);
            }
          }
        }
      }
    }
  }
}

.option-list {
  // listbox
  :global([role='listbox']) {
    display: flex;
    flex-direction: column;
    gap: rem(6px);
    max-height: rem(240px);
    overflow: auto;
    margin-right: rem(-6px);
    padding-right: rem(6px);
  }

  // size
  @each $size-name, $props in $option-list-sizes {
    &:global(.size--#{$size-name}) {
      width: map.get($props, width);
      padding: map.get($props, padding);
      border-radius: map.get($props, radius);
      filter: map.get($props, shadow);

      :global(.empty-state) {
        $empty-map: map.get($props, emtpy);

        // @debug '#{meta.inspect(map.get($props, emtpy))}';

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: map.get($props, padding);
        border-radius: map.get($props, radius);
        background-color: var(--empty-state-bg-color-option-list);

        :global(.icon) {
          fill: none;
          color: var(--empty-state-icon-color-option-list);
          margin-bottom: rem(6px);
          width: map.get($empty-map, icon-size);
          height: map.get($empty-map, icon-size);
        }

        :global(.title) {
          font: map.get($empty-map, font);
          color: var(--empty-state-title-color-option-list);
        }

        :global(.desc) {
          font: map.get($empty-map, font);
          color: var(--empty-state-desc-color-option-list);
        }
      }
    }
  }

  // variant
  @include option-list-variant(solid);
  @include option-list-variant(soft);
  @include option-list-variant(outline);
}
