/* AlertModalContent.module.scss */
@use 'sass:map';
@use 'sass:meta';
@use '../../../../styles/mixins' as *;

.alert-info-modal {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  width: rem(340px);
  min-height: rem(160px);
  margin: auto;
  border-radius: var(--project-border-radius-16);
  box-shadow: 0 rem(8px) rem(20px) var(--project-color-alert-modal-shadow-bg);
  background-color: var(--project-color-alert-modal-bg);

  :global(.modal-body) {
    padding: rem(32px) rem(24px) rem(24px);
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  :global(.modal-title) {
    font: var(--project-typo-modal-1-600);
  }

  :global(.modal-desc) {
    margin: rem(8px) 0 rem(28px);
    word-break: keep-all;
    font: var(--project-typo-modal-2-400);
    color: var(--project-color-alert-modal-desc-text);
  }

  :global(button) {
    width: fit-content;
  }
}

.alert-danger-modal {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  width: rem(340px);
  min-height: rem(160px);
  margin: auto;
  border-radius: var(--project-border-radius-16);
  box-shadow: 0 rem(8px) rem(20px) var(--project-color-alert-modal-shadow-bg);
  background-color: var(--project-color-alert-modal-bg);

  :global(.modal-body) {
    padding: rem(32px) rem(24px) rem(24px);
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  :global(.modal-title) {
    font: var(--project-typo-modal-1-600);
  }

  :global(.modal-desc) {
    margin: rem(8px) 0 rem(28px);
    word-break: keep-all;
    font: var(--project-typo-modal-2-400);
    color: var(--project-color-alert-modal-desc-text);
  }

  :global(button) {
    width: fit-content;
  }
}
