/* AlertModalContent.module.scss */
@use 'sass:map';
@use 'sass:meta';
@use '../../../../styles/mixins' as *;

.alert-info-modal {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  // width: 100%;
  width: rem(340px);
  min-height: rem(160px);
  margin: auto;
  border-radius: var(--project-border-radius-16);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
  background-color: #ffffff;

  :global(.modal-body) {
    padding: rem(32px) rem(24px) rem(24px);
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  :global(.modal-title) {
    font: var(--project-typo-ModalText1-600);
  }

  :global(.modal-desc) {
    margin: rem(8px) 0 rem(28px);
    word-break: keep-all;
    font: var(--project-typo-ModalText2-400);
    color: #6f6f6f;
  }

  :global(button) {
    width: fit-content;
  }
}

.alert-danger-modal {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  // width: 100%;
  width: rem(340px);
  min-height: rem(160px);
  margin: auto;
  border-radius: var(--project-border-radius-16);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
  background-color: #ffffff;

  :global(.modal-body) {
    padding: rem(32px) rem(24px) rem(24px);
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  :global(.modal-title) {
    font: var(--project-typo-ModalText1-600);
  }

  :global(.modal-desc) {
    margin: rem(8px) 0 rem(28px);
    word-break: keep-all;
    font: var(--project-typo-ModalText2-400);
    color: #6f6f6f;
  }

  :global(button) {
    width: fit-content;
  }
}
