/* Modal.module.scss */
@use 'sass:map';
@use 'sass:meta';
@use '../../../../styles/mixins' as *;

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  :global(.modal-content) {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    overflow-y: auto;
    will-change: transform;
    backface-visibility: hidden;
    animation: modalFadeIn 0.2s ease-out forwards;
  }
}

@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
