/* Button.module.scss */
// IconButton, IconLinkButton 공통 스타일
@use 'sass:map';
@use '../../../../styles/mixins' as *;

$btn-colors: (
  primary: (
    solid: (
      bg: var(--project-color-primary-btn-solid-bg),
      label: var(--project-color-primary-btn-solid-text),
      hover: (
        bg: var(--project-color-primary-btn-solid-bg-hover),
        label: var(--project-color-primary-btn-solid-text-hover),
      ),
      active: (
        bg: var(--project-color-primary-btn-solid-bg-active),
        label: var(--project-color-primary-btn-solid-text-active),
      ),
      disabled: (
        bg: var(--project-color-btn-disabled-bg),
        label: var(--project-color-btn-disabled-text),
      ),
    ),

    outline: (
      bg: var(--project-color-btn-outline-bg),
      label: var(--project-color-primary-btn-outline-text),
      hover: (
        bg: var(--project-color-primary-btn-outline-bg-hover),
        label: var(--project-color-primary-btn-outline-text-hover),
      ),
      active: (
        bg: var(--project-color-primary-btn-outline-bg-active),
        label: var(--project-color-primary-btn-outline-text-active),
      ),
      disabled: (
        bg: var(--project-color-btn-disabled-bg),
        label: var(--project-color-btn-disabled-text),
      ),
    ),

    ghost: (
      bg: var(--project-color-primary-btn-ghost-bg),
      label: var(--project-color-primary-btn-ghost-text),
      hover: (
        bg: var(--project-color-primary-btn-ghost-bg-hover),
        label: var(--project-color-primary-btn-ghost-text-hover),
      ),
      active: (
        bg: var(--project-color-primary-btn-ghost-bg-active),
        label: var(--project-color-primary-btn-ghost-text-active),
      ),
      disabled: (
        bg: var(--project-color-btn-disabled-ghost-bg),
        label: var(--project-color-btn-disabled-ghost-link-text),
      ),
    ),
  ),

  secondary: (
    //
    solid: (
        bg: var(--project-color-secondary-btn-solid-bg),
        label: var(--project-color-secondary-btn-solid-text),
        hover: (
          bg: var(--project-color-secondary-btn-solid-bg-hover),
          label: var(--project-color-secondary-btn-solid-text-hover),
        ),
        active: (
          bg: var(--project-color-secondary-btn-solid-bg-active),
          label: var(--project-color-secondary-btn-solid-text-active),
        ),
        disabled: (
          bg: var(--project-color-btn-disabled-bg),
          label: var(--project-color-btn-disabled-text),
        ),
      ),

    //
    outline: (
        bg: var(--project-color-btn-outline-bg),
        label: var(--project-color-secondary-btn-outline-text),
        hover: (
          bg: var(--project-color-secondary-btn-outline-bg-hover),
          label: var(--project-color-secondary-btn-outline-text-hover),
        ),
        active: (
          bg: var(--project-color-secondary-btn-outline-bg-active),
          label: var(--project-color-secondary-btn-outline-text-active),
        ),
        disabled: (
          bg: var(--project-color-btn-disabled-bg),
          label: var(--project-color-btn-disabled-text),
        ),
      ),

    //
    ghost: (
        bg: var(--project-color-secondary-btn-ghost-bg),
        label: var(--project-color-secondary-btn-ghost-text),
        hover: (
          bg: var(--project-color-secondary-btn-ghost-bg-hover),
          label: var(--project-color-secondary-btn-ghost-text-hover),
        ),
        active: (
          bg: var(--project-color-secondary-btn-ghost-bg-active),
          label: var(--project-color-secondary-btn-ghost-text-active),
        ),
        disabled: (
          bg: var(--project-color-btn-disabled-ghost-bg),
          label: var(--project-color-btn-disabled-ghost-link-text),
        ),
      ),
  ),

  tertiary: (
    //
    solid: (
        bg: var(--project-color-tertiary-btn-solid-bg),
        label: var(--project-color-tertiary-btn-solid-text),
        hover: (
          bg: var(--project-color-tertiary-btn-solid-bg-hover),
          label: var(--project-color-tertiary-btn-solid-text-hover),
        ),
        active: (
          bg: var(--project-color-tertiary-btn-solid-bg-active),
          label: var(--project-color-tertiary-btn-solid-text-active),
        ),
        disabled: (
          bg: var(--project-color-btn-disabled-bg),
          label: var(--project-color-btn-disabled-text),
        ),
      ),

    //
    outline: (
        bg: var(--project-color-btn-outline-bg),
        label: var(--project-color-tertiary-btn-outline-text),
        hover: (
          bg: var(--project-color-tertiary-btn-outline-bg-hover),
          label: var(--project-color-tertiary-btn-outline-text-hover),
        ),
        active: (
          bg: var(--project-color-tertiary-btn-outline-bg-active),
          label: var(--project-color-tertiary-btn-outline-text-active),
        ),
        disabled: (
          bg: var(--project-color-btn-disabled-bg),
          label: var(--project-color-btn-disabled-text),
        ),
      ),

    //
    ghost: (
        bg: var(--project-color-tertiary-btn-ghost-bg),
        label: var(--project-color-tertiary-btn-ghost-text),
        hover: (
          bg: var(--project-color-tertiary-btn-ghost-bg-hover),
          label: var(--project-color-tertiary-btn-ghost-text-hover),
        ),
        active: (
          bg: var(--project-color-tertiary-btn-ghost-bg-active),
          label: var(--project-color-tertiary-btn-ghost-text-active),
        ),
        disabled: (
          bg: var(--project-color-btn-disabled-ghost-bg),
          label: var(--project-color-btn-disabled-ghost-link-text),
        ),
      ),
  ),

  success: (
    //
    solid: (
        bg: var(--project-color-btn-solid-success-bg),
        label: var(--project-color-btn-solid-success-text),
        hover: (
          bg: var(--project-color-btn-solid-success-bg-hover),
          label: var(--project-color-btn-solid-success-text-hover),
        ),
        active: (
          bg: var(--project-color-btn-solid-success-bg-active),
          label: var(--project-color-btn-solid-success-text-active),
        ),
        disabled: (
          bg: var(--project-color-btn-disabled-bg),
          label: var(--project-color-btn-disabled-text),
        ),
      ),

    //
    outline: (
        bg: var(--project-color-btn-outline-bg),
        label: var(--project-color-btn-outline-success-text),
        hover: (
          bg: var(--project-color-btn-outline-success-bg-hover),
          label: var(--project-color-btn-outline-success-text-hover),
        ),
        active: (
          bg: var(--project-color-btn-outline-success-bg-active),
          label: var(--project-color-btn-outline-success-text-active),
        ),
        disabled: (
          bg: var(--project-color-btn-disabled-bg),
          label: var(--project-color-btn-disabled-text),
        ),
      ),

    //
    ghost: (
        bg: var(--project-color-btn-ghost-success-bg),
        label: var(--project-color-btn-ghost-success-text),
        hover: (
          bg: var(--project-color-btn-ghost-success-bg-hover),
          label: var(--project-color-btn-ghost-success-text-hover),
        ),
        active: (
          bg: var(--project-color-btn-ghost-success-bg-active),
          label: var(--project-color-btn-ghost-success-text-active),
        ),
        disabled: (
          bg: var(--project-color-btn-disabled-ghost-bg),
          label: var(--project-color-btn-disabled-ghost-link-text),
        ),
      ),
  ),

  warning: (
    solid: (
      bg: var(--project-color-btn-solid-warning-bg),
      label: var(--project-color-btn-solid-warning-text),
      hover: (
        bg: var(--project-color-btn-solid-warning-bg-hover),
        label: var(--project-color-btn-solid-warning-text-hover),
      ),
      active: (
        bg: var(--project-color-btn-solid-warning-bg-active),
        label: var(--project-color-btn-solid-warning-text-active),
      ),
      disabled: (
        bg: var(--project-color-btn-disabled-bg),
        label: var(--project-color-btn-disabled-text),
      ),
    ),

    //
    outline: (
        bg: var(--project-color-btn-outline-bg),
        label: var(--project-color-btn-outline-warning-text),
        hover: (
          bg: var(--project-color-btn-outline-warning-bg-hover),
          label: var(--project-color-btn-outline-warning-text-hover),
        ),
        active: (
          bg: var(--project-color-btn-outline-warning-bg-active),
          label: var(--project-color-btn-outline-warning-text-active),
        ),
        disabled: (
          bg: var(--project-color-btn-disabled-bg),
          label: var(--project-color-btn-disabled-text),
        ),
      ),

    //
    ghost: (
        bg: var(--project-color-btn-ghost-warning-bg),
        label: var(--project-color-btn-ghost-warning-text),
        hover: (
          bg: var(--project-color-btn-ghost-warning-bg-hover),
          label: var(--project-color-btn-ghost-warning-text-hover),
        ),
        active: (
          bg: var(--project-color-btn-ghost-warning-bg-active),
          label: var(--project-color-btn-ghost-warning-text-active),
        ),
        disabled: (
          bg: var(--project-color-btn-disabled-ghost-bg),
          label: var(--project-color-btn-disabled-ghost-link-text),
        ),
      ),
  ),
  danger: (
    solid: (
      bg: var(--project-color-btn-solid-danger-bg),
      label: var(--project-color-btn-solid-danger-text),
      hover: (
        bg: var(--project-color-btn-solid-danger-bg-hover),
        label: var(--project-color-btn-solid-danger-text-hover),
      ),
      active: (
        bg: var(--project-color-btn-solid-danger-bg-active),
        label: var(--project-color-btn-solid-danger-text-active),
      ),
      disabled: (
        bg: var(--project-color-btn-disabled-bg),
        label: var(--project-color-btn-disabled-text),
      ),
    ),

    //
    outline: (
        bg: var(--project-color-btn-outline-bg),
        label: var(--project-color-btn-outline-danger-text),
        hover: (
          bg: var(--project-color-btn-outline-danger-bg-hover),
          label: var(--project-color-btn-outline-danger-text-hover),
        ),
        active: (
          bg: var(--project-color-btn-outline-danger-bg-active),
          label: var(--project-color-btn-outline-danger-text-active),
        ),
        disabled: (
          bg: var(--project-color-btn-disabled-bg),
          label: var(--project-color-btn-disabled-text),
        ),
      ),

    //
    ghost: (
        bg: var(--project-color-btn-ghost-danger-bg),
        label: var(--project-color-btn-ghost-danger-text),
        hover: (
          bg: var(--project-color-btn-ghost-danger-bg-hover),
          label: var(--project-color-btn-ghost-danger-text-hover),
        ),
        active: (
          bg: var(--project-color-btn-ghost-danger-bg-active),
          label: var(--project-color-btn-ghost-danger-text-active),
        ),
        disabled: (
          bg: var(--project-color-btn-disabled-ghost-bg),
          label: var(--project-color-btn-disabled-ghost-link-text),
        ),
      ),
  ),
);

// button size
$btn-sizes: (
  xs: (
    btn-size: (
      pc: rem(32px),
      tablet: rem(32px),
      mobile: rem(32px),
    ),
    radius: (
      pc: rem(4px),
      tablet: rem(6px),
      mobile: rem(6px),
    ),
    icon-size: (
      pc: rem(16px),
      tablet: rem(16px),
      mobile: rem(16px),
    ),
  ),

  sm: (
    btn-size: (
      pc: rem(36px),
      tablet: rem(36px),
      mobile: rem(36px),
    ),
    radius: (
      pc: rem(5px),
      tablet: rem(6px),
      mobile: rem(6px),
    ),
    icon-size: (
      pc: rem(18px),
      tablet: rem(16px),
      mobile: rem(18px),
    ),
  ),

  md: (
    btn-size: (
      pc: rem(40px),
      tablet: rem(40px),
      mobile: rem(40px),
    ),
    radius: (
      pc: rem(6px),
      tablet: rem(6px),
      mobile: rem(7px),
    ),
    icon-size: (
      pc: rem(20px),
      tablet: rem(18px),
      mobile: rem(20px),
    ),
  ),

  lg: (
    btn-size: (
      pc: rem(44px),
      tablet: rem(44px),
      mobile: rem(44px),
    ),
    radius: (
      pc: rem(7px),
      tablet: rem(7px),
      mobile: rem(8px),
    ),
    icon-size: (
      pc: rem(22px),
      tablet: rem(20px),
      mobile: rem(20px),
    ),
  ),

  xl: (
    btn-size: (
      pc: rem(48px),
      tablet: rem(48px),
      mobile: rem(48px),
    ),
    radius: (
      pc: rem(8px),
      tablet: rem(8px),
      mobile: rem(8px),
    ),
    icon-size: (
      pc: rem(24px),
      tablet: rem(22px),
      mobile: rem(22px),
    ),
  ),
);

// mixins - btn variant
@mixin btn-variant {
  @each $color-name, $color-props in $btn-colors {
    @each $variant, $variant-props in $color-props {
      &:global(.color--#{$color-name}.variant--#{$variant}) {
        // 기본 상태
        background-color: map.get($variant-props, bg);
        color: map.get($variant-props, label);

        // outline border 자동 처리
        @if $variant == outline {
          border: rem(1px) solid map.get($variant-props, label);
        } @else {
          border: none;
        }

        // hover
        @at-root button#{&}:hover:not([aria-disabled='true']):not(:disabled) {
          $hover: map.get($variant-props, hover);
          background-color: map.get($hover, bg);
          color: map.get($hover, label);
        }
        @at-root a#{&}:hover:not([aria-disabled='true']):not(:disabled) {
          $hover: map.get($variant-props, hover);
          background-color: map.get($hover, bg);
          color: map.get($hover, label);
        }

        // active
        @at-root button#{&}:active:not([aria-disabled='true']):not(:disabled) {
          $active: map.get($variant-props, active);
          background-color: map.get($active, bg);
          color: map.get($active, label);
        }
        @at-root a#{&}:active:not([aria-disabled='true']):not(:disabled) {
          $active: map.get($variant-props, active);
          background-color: map.get($active, bg);
          color: map.get($active, label);
        }

        // disabled
        &[aria-disabled='true'],
        &:disabled {
          cursor: not-allowed;
          // pointer-events: none;
          $disabled-props: map.get($variant-props, disabled);
          color: map.get($disabled-props, label);

          @if $disabled-props != null {
            @if $variant == 'outline' {
              border-color: map.get($disabled-props, label);
              background-color: map.get($disabled-props, bg);
            } @else {
              background-color: map.get($disabled-props, bg);
            }
          } @else {
          }
        }
      }
    }
  }
}

// mixins - btn size
@mixin btn-size {
  @each $size-name, $props in $btn-sizes {
    $btn-size: map.get($props, btn-size);
    $icon: map.get($props, icon-size);

    // 🎯 PC 기본 사이즈
    &:global(.size--#{$size-name}) {
      width: map.get($btn-size, pc);
      height: map.get($btn-size, pc);

      svg {
        width: map.get($icon, pc);
        height: map.get($icon, pc);
      }
    }

    // 🎯 Tablet (max-width: 768px)
    @media (max-width: 768px) {
      &:global(.size--#{$size-name}) {
        width: map.get($btn-size, tablet);
        height: map.get($btn-size, tablet);

        svg {
          width: map.get($icon, tablet);
          height: map.get($icon, tablet);
        }
      }
    }

    // 🎯 Mobile (max-width: 480px)
    @media (max-width: 480px) {
      &:global(.size--#{$size-name}) {
        width: map.get($btn-size, mobile);
        height: map.get($btn-size, mobile);

        svg {
          width: map.get($icon, mobile);
          height: map.get($icon, mobile);
        }
      }
    }
  }
}

// mixins - btn radius
@mixin btn-radius($btn-sizes) {
  &:global(.shape--rounded) {
    @each $size-name, $props in $btn-sizes {
      $radius: map.get($props, radius);

      &:global(.size--#{$size-name}) {
        // PC 기본값
        border-radius: map.get($radius, pc);

        // Tablet 이하
        @media (max-width: 768px) {
          border-radius: map.get($radius, tablet);
        }

        // Mobile 이하
        @media (max-width: 480px) {
          border-radius: map.get($radius, mobile);
        }
      }
    }
  }
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;

  &:active:not(&:disabled) {
    transform: scale(0.97);
  }

  @at-root button#{&} {
    cursor: pointer;
  }

  .btn-label {
    min-width: max-content;
  }

  // size
  @include btn-size;

  // variant
  @include btn-variant;

  // shape
  &:global(.shape--square) {
    border-radius: 0;
  }
  &:global(.shape--rounded) {
    // radius
    @include btn-radius($btn-sizes);
  }
  &:global(.shape--pill) {
    border-radius: var(--project-border-radius-max);
  }
}
