// Display Fonts
@forward './display/GmarketSans';
@forward './display/NanumSquareNeo';

// Text Fonts
@forward './text/NanumGothic';
@forward './text/Noto_Sans_KR';
@forward './text/Noto_Sans_JP';
@forward './text/Pretendard_GOV';
@forward './text/Pretendard_KR';
@forward './text/Pretendard_JP';
@forward './text/SpoqaHanSans_KR';
@forward './text/SpoqaHanSans_JP';

// Icon Fonts
@forward './icon/SpoqaHanSans_Caret';
