$g_theme_colors: (
  "light": (
    "color-primary-breadcrumb-current-text": #0052cc,
    "color-primary-breadcrumb-hover-text": #0052cc,
    "color-primary-avatar-hover-border": #0052cc,
    "color-primary-avatar-active-border": #0052cc,
    "color-secondary-breadcrumb-current-text": #475569,
    "color-secondary-breadcrumb-hover-text": #475569,
    "color-secondary-avatar-hover-border": #475569,
    "color-secondary-avatar-active-border": #475569,
    "color-tertiary-breadcrumb-current-text": #7c3aed,
    "color-tertiary-breadcrumb-hover-text": #7c3aed,
    "color-tertiary-avatar-hover-border": #7c3aed,
    "color-tertiary-avatar-active-border": #7c3aed,
  ),
  "dark": (
    "color-primary-breadcrumb-current-text": #66b2ff,
    "color-primary-breadcrumb-hover-text": #66b2ff,
    "color-primary-avatar-hover-border": #66b2ff,
    "color-primary-avatar-active-border": #66b2ff,
    "color-secondary-breadcrumb-current-text": #38bdf8,
    "color-secondary-breadcrumb-hover-text": #38bdf8,
    "color-secondary-avatar-hover-border": #38bdf8,
    "color-secondary-avatar-active-border": #38bdf8,
    "color-tertiary-breadcrumb-current-text": #a78bfa,
    "color-tertiary-breadcrumb-hover-text": #a78bfa,
    "color-tertiary-avatar-hover-border": #a78bfa,
    "color-tertiary-avatar-active-border": #a78bfa,
  )
);