$g_typography: (
  "display-1": (
    ko: (
      font-size: 60px,
      tablet-size: 60px,
      mobile-size: 60px,
      font-weight: (700),
      line-height: 1.5,
      font-family: ko,
    ),
    ja: (
      font-size: 60px,
      tablet-size: 60px,
      mobile-size: 60px,
      font-weight: (700),
      line-height: 1.5,
      font-family: ja,
    ),
    en: (
      font-size: 60px,
      tablet-size: 60px,
      mobile-size: 60px,
      font-weight: (700),
      line-height: 1.5,
      font-family: en,
    ),
  ),
  "display-2": (
    ko: (
      font-size: 48px,
      tablet-size: 48px,
      mobile-size: 48px,
      font-weight: (700),
      line-height: 1.5,
      font-family: ko,
    ),
    ja: (
      font-size: 48px,
      tablet-size: 48px,
      mobile-size: 48px,
      font-weight: (700),
      line-height: 1.5,
      font-family: ja,
    ),
    en: (
      font-size: 48px,
      tablet-size: 48px,
      mobile-size: 48px,
      font-weight: (700),
      line-height: 1.5,
      font-family: en,
    ),
  ),
  "display-3": (
    ko: (
      font-size: 36px,
      tablet-size: 36px,
      mobile-size: 36px,
      font-weight: (700),
      line-height: 1.5,
      font-family: ko,
    ),
    ja: (
      font-size: 36px,
      tablet-size: 36px,
      mobile-size: 36px,
      font-weight: (700),
      line-height: 1.5,
      font-family: ja,
    ),
    en: (
      font-size: 36px,
      tablet-size: 36px,
      mobile-size: 36px,
      font-weight: (700),
      line-height: 1.5,
      font-family: en,
    ),
  ),
  "heading-1": (
    ko: (
      font-size: 28px,
      tablet-size: 28px,
      mobile-size: 28px,
      font-weight: (700),
      line-height: 1.5,
      font-family: ko,
    ),
    ja: (
      font-size: 28px,
      tablet-size: 28px,
      mobile-size: 28px,
      font-weight: (700),
      line-height: 1.5,
      font-family: ja,
    ),
    en: (
      font-size: 28px,
      tablet-size: 28px,
      mobile-size: 28px,
      font-weight: (700),
      line-height: 1.5,
      font-family: en,
    ),
  ),
  "heading-2": (
    ko: (
      font-size: 24px,
      tablet-size: 24px,
      mobile-size: 24px,
      font-weight: (700),
      line-height: 1.5,
      font-family: ko,
    ),
    ja: (
      font-size: 24px,
      tablet-size: 24px,
      mobile-size: 24px,
      font-weight: (700),
      line-height: 1.5,
      font-family: ja,
    ),
    en: (
      font-size: 24px,
      tablet-size: 24px,
      mobile-size: 24px,
      font-weight: (700),
      line-height: 1.5,
      font-family: en,
    ),
  ),
  "heading-3": (
    ko: (
      font-size: 20px,
      tablet-size: 20px,
      mobile-size: 20px,
      font-weight: (700),
      line-height: 1.5,
      font-family: ko,
    ),
    ja: (
      font-size: 20px,
      tablet-size: 20px,
      mobile-size: 20px,
      font-weight: (700),
      line-height: 1.5,
      font-family: ja,
    ),
    en: (
      font-size: 20px,
      tablet-size: 20px,
      mobile-size: 20px,
      font-weight: (700),
      line-height: 1.5,
      font-family: en,
    ),
  ),
  "sub-title-1": (
    ko: (
      font-size: 18px,
      tablet-size: 18px,
      mobile-size: 18px,
      font-weight: (600, 700),
      line-height: 1.5,
      font-family: ko,
    ),
    ja: (
      font-size: 18px,
      tablet-size: 18px,
      mobile-size: 18px,
      font-weight: (600, 700),
      line-height: 1.5,
      font-family: ja,
    ),
    en: (
      font-size: 18px,
      tablet-size: 18px,
      mobile-size: 18px,
      font-weight: (600, 700),
      line-height: 1.5,
      font-family: en,
    ),
  ),
  "sub-title-2": (
    ko: (
      font-size: 16px,
      tablet-size: 16px,
      mobile-size: 16px,
      font-weight: (600, 700),
      line-height: 1.5,
      font-family: ko,
    ),
    ja: (
      font-size: 16px,
      tablet-size: 16px,
      mobile-size: 16px,
      font-weight: (600, 700),
      line-height: 1.5,
      font-family: ja,
    ),
    en: (
      font-size: 16px,
      tablet-size: 16px,
      mobile-size: 16px,
      font-weight: (600, 700),
      line-height: 1.5,
      font-family: en,
    ),
  ),
  "sub-title-3": (
    ko: (
      font-size: 14px,
      tablet-size: 14px,
      mobile-size: 14px,
      font-weight: (600, 700),
      line-height: 1.5,
      font-family: ko,
    ),
    ja: (
      font-size: 14px,
      tablet-size: 14px,
      mobile-size: 14px,
      font-weight: (600, 700),
      line-height: 1.5,
      font-family: ja,
    ),
    en: (
      font-size: 14px,
      tablet-size: 14px,
      mobile-size: 14px,
      font-weight: (600, 700),
      line-height: 1.5,
      font-family: en,
    ),
  ),
  "sub-title-4": (
    ko: (
      font-size: 12px,
      tablet-size: 12px,
      mobile-size: 12px,
      font-weight: (400, 500),
      line-height: 1.5,
      font-family: ko,
    ),
    ja: (
      font-size: 12px,
      tablet-size: 12px,
      mobile-size: 12px,
      font-weight: (400, 500),
      line-height: 1.5,
      font-family: ja,
    ),
    en: (
      font-size: 12px,
      tablet-size: 12px,
      mobile-size: 12px,
      font-weight: (400, 500),
      line-height: 1.5,
      font-family: en,
    ),
  ),
  "body-1": (
    ko: (
      font-size: 16px,
      tablet-size: 16px,
      mobile-size: 16px,
      font-weight: (400, 500),
      line-height: 1.5,
      font-family: ko,
    ),
    ja: (
      font-size: 16px,
      tablet-size: 16px,
      mobile-size: 16px,
      font-weight: (400, 500),
      line-height: 1.5,
      font-family: ja,
    ),
    en: (
      font-size: 16px,
      tablet-size: 16px,
      mobile-size: 16px,
      font-weight: (400, 500),
      line-height: 1.5,
      font-family: en,
    ),
  ),
  "body-2": (
    ko: (
      font-size: 14px,
      tablet-size: 14px,
      mobile-size: 14px,
      font-weight: (400),
      line-height: 1.5,
      font-family: ko,
    ),
    ja: (
      font-size: 14px,
      tablet-size: 14px,
      mobile-size: 14px,
      font-weight: (400),
      line-height: 1.5,
      font-family: ja,
    ),
    en: (
      font-size: 14px,
      tablet-size: 14px,
      mobile-size: 14px,
      font-weight: (400),
      line-height: 1.5,
      font-family: en,
    ),
  ),
  "body-3": (
    ko: (
      font-size: 12px,
      tablet-size: 12px,
      mobile-size: 12px,
      font-weight: (400),
      line-height: 1.5,
      font-family: ko,
    ),
    ja: (
      font-size: 12px,
      tablet-size: 12px,
      mobile-size: 12px,
      font-weight: (400),
      line-height: 1.5,
      font-family: ja,
    ),
    en: (
      font-size: 12px,
      tablet-size: 12px,
      mobile-size: 12px,
      font-weight: (400),
      line-height: 1.5,
      font-family: en,
    ),
  ),
  "btn-1": (
    ko: (
      font-size: 20px,
      tablet-size: 20px,
      mobile-size: 20px,
      font-weight: (700),
      line-height: 1.5,
      font-family: ko,
    ),
    ja: (
      font-size: 20px,
      tablet-size: 20px,
      mobile-size: 20px,
      font-weight: (700),
      line-height: 1.5,
      font-family: ja,
    ),
    en: (
      font-size: 20px,
      tablet-size: 20px,
      mobile-size: 20px,
      font-weight: (700),
      line-height: 1.5,
      font-family: en,
    ),
  ),
  "btn-2": (
    ko: (
      font-size: 18px,
      tablet-size: 18px,
      mobile-size: 18px,
      font-weight: (700),
      line-height: 1.5,
      font-family: ko,
    ),
    ja: (
      font-size: 18px,
      tablet-size: 18px,
      mobile-size: 18px,
      font-weight: (700),
      line-height: 1.5,
      font-family: ja,
    ),
    en: (
      font-size: 18px,
      tablet-size: 18px,
      mobile-size: 18px,
      font-weight: (700),
      line-height: 1.5,
      font-family: en,
    ),
  ),
  "btn-3": (
    ko: (
      font-size: 16px,
      tablet-size: 16px,
      mobile-size: 16px,
      font-weight: (600),
      line-height: 1.5,
      font-family: ko,
    ),
    ja: (
      font-size: 16px,
      tablet-size: 16px,
      mobile-size: 16px,
      font-weight: (600),
      line-height: 1.5,
      font-family: ja,
    ),
    en: (
      font-size: 16px,
      tablet-size: 16px,
      mobile-size: 16px,
      font-weight: (600),
      line-height: 1.5,
      font-family: en,
    ),
  ),
  "btn-4": (
    ko: (
      font-size: 14px,
      tablet-size: 14px,
      mobile-size: 14px,
      font-weight: (600),
      line-height: 1.5,
      font-family: ko,
    ),
    ja: (
      font-size: 14px,
      tablet-size: 14px,
      mobile-size: 14px,
      font-weight: (600),
      line-height: 1.5,
      font-family: ja,
    ),
    en: (
      font-size: 14px,
      tablet-size: 14px,
      mobile-size: 14px,
      font-weight: (600),
      line-height: 1.5,
      font-family: en,
    ),
  ),
  "btn-5": (
    ko: (
      font-size: 12px,
      tablet-size: 12px,
      mobile-size: 12px,
      font-weight: (600),
      line-height: 1.5,
      font-family: ko,
    ),
    ja: (
      font-size: 12px,
      tablet-size: 12px,
      mobile-size: 12px,
      font-weight: (600),
      line-height: 1.5,
      font-family: ja,
    ),
    en: (
      font-size: 12px,
      tablet-size: 12px,
      mobile-size: 12px,
      font-weight: (600),
      line-height: 1.5,
      font-family: en,
    ),
  ),
  "legend-1": (
    ko: (
      font-size: 20px,
      tablet-size: 20px,
      mobile-size: 20px,
      font-weight: (600),
      line-height: 1.5,
      font-family: ko,
    ),
    ja: (
      font-size: 20px,
      tablet-size: 20px,
      mobile-size: 20px,
      font-weight: (600),
      line-height: 1.5,
      font-family: ja,
    ),
    en: (
      font-size: 20px,
      tablet-size: 20px,
      mobile-size: 20px,
      font-weight: (600),
      line-height: 1.5,
      font-family: en,
    ),
  ),
  "legend-2": (
    ko: (
      font-size: 18px,
      tablet-size: 18px,
      mobile-size: 18px,
      font-weight: (600),
      line-height: 1.5,
      font-family: ko,
    ),
    ja: (
      font-size: 18px,
      tablet-size: 18px,
      mobile-size: 18px,
      font-weight: (600),
      line-height: 1.5,
      font-family: ja,
    ),
    en: (
      font-size: 18px,
      tablet-size: 18px,
      mobile-size: 18px,
      font-weight: (600),
      line-height: 1.5,
      font-family: en,
    ),
  ),
  "legend-3": (
    ko: (
      font-size: 16px,
      tablet-size: 16px,
      mobile-size: 16px,
      font-weight: (600),
      line-height: 1.5,
      font-family: ko,
    ),
    ja: (
      font-size: 16px,
      tablet-size: 16px,
      mobile-size: 16px,
      font-weight: (600),
      line-height: 1.5,
      font-family: ja,
    ),
    en: (
      font-size: 16px,
      tablet-size: 16px,
      mobile-size: 16px,
      font-weight: (600),
      line-height: 1.5,
      font-family: en,
    ),
  ),
  "legend-4": (
    ko: (
      font-size: 14px,
      tablet-size: 14px,
      mobile-size: 14px,
      font-weight: (600),
      line-height: 1.5,
      font-family: ko,
    ),
    ja: (
      font-size: 14px,
      tablet-size: 14px,
      mobile-size: 14px,
      font-weight: (600),
      line-height: 1.5,
      font-family: ja,
    ),
    en: (
      font-size: 14px,
      tablet-size: 14px,
      mobile-size: 14px,
      font-weight: (600),
      line-height: 1.5,
      font-family: en,
    ),
  ),
  "legend-5": (
    ko: (
      font-size: 13px,
      tablet-size: 13px,
      mobile-size: 13px,
      font-weight: (600),
      line-height: 1.5,
      font-family: ko,
    ),
    ja: (
      font-size: 13px,
      tablet-size: 13px,
      mobile-size: 13px,
      font-weight: (600),
      line-height: 1.5,
      font-family: ja,
    ),
    en: (
      font-size: 13px,
      tablet-size: 13px,
      mobile-size: 13px,
      font-weight: (600),
      line-height: 1.5,
      font-family: en,
    ),
  ),
  "label-1": (
    ko: (
      font-size: 18px,
      tablet-size: 18px,
      mobile-size: 18px,
      font-weight: (500),
      line-height: 1.5,
      font-family: ko,
    ),
    ja: (
      font-size: 18px,
      tablet-size: 18px,
      mobile-size: 18px,
      font-weight: (500),
      line-height: 1.5,
      font-family: ja,
    ),
    en: (
      font-size: 18px,
      tablet-size: 18px,
      mobile-size: 18px,
      font-weight: (500),
      line-height: 1.5,
      font-family: en,
    ),
  ),
  "label-2": (
    ko: (
      font-size: 16px,
      tablet-size: 16px,
      mobile-size: 16px,
      font-weight: (500),
      line-height: 1.5,
      font-family: ko,
    ),
    ja: (
      font-size: 16px,
      tablet-size: 16px,
      mobile-size: 16px,
      font-weight: (500),
      line-height: 1.5,
      font-family: ja,
    ),
    en: (
      font-size: 16px,
      tablet-size: 16px,
      mobile-size: 16px,
      font-weight: (500),
      line-height: 1.5,
      font-family: en,
    ),
  ),
  "label-3": (
    ko: (
      font-size: 14px,
      tablet-size: 14px,
      mobile-size: 14px,
      font-weight: (500),
      line-height: 1.5,
      font-family: ko,
    ),
    ja: (
      font-size: 14px,
      tablet-size: 14px,
      mobile-size: 14px,
      font-weight: (500),
      line-height: 1.5,
      font-family: ja,
    ),
    en: (
      font-size: 14px,
      tablet-size: 14px,
      mobile-size: 14px,
      font-weight: (500),
      line-height: 1.5,
      font-family: en,
    ),
  ),
  "label-4": (
    ko: (
      font-size: 13px,
      tablet-size: 13px,
      mobile-size: 13px,
      font-weight: (500),
      line-height: 1.5,
      font-family: ko,
    ),
    ja: (
      font-size: 13px,
      tablet-size: 13px,
      mobile-size: 13px,
      font-weight: (500),
      line-height: 1.5,
      font-family: ja,
    ),
    en: (
      font-size: 13px,
      tablet-size: 13px,
      mobile-size: 13px,
      font-weight: (500),
      line-height: 1.5,
      font-family: en,
    ),
  ),
  "label-5": (
    ko: (
      font-size: 12px,
      tablet-size: 12px,
      mobile-size: 12px,
      font-weight: (500),
      line-height: 1.5,
      font-family: ko,
    ),
    ja: (
      font-size: 12px,
      tablet-size: 12px,
      mobile-size: 12px,
      font-weight: (500),
      line-height: 1.5,
      font-family: ja,
    ),
    en: (
      font-size: 12px,
      tablet-size: 12px,
      mobile-size: 12px,
      font-weight: (500),
      line-height: 1.5,
      font-family: en,
    ),
  ),
  "input-1": (
    ko: (
      font-size: 16px,
      tablet-size: 16px,
      mobile-size: 16px,
      font-weight: (500),
      line-height: 1.5,
      font-family: ko,
    ),
    ja: (
      font-size: 16px,
      tablet-size: 16px,
      mobile-size: 16px,
      font-weight: (500),
      line-height: 1.5,
      font-family: ja,
    ),
    en: (
      font-size: 16px,
      tablet-size: 16px,
      mobile-size: 16px,
      font-weight: (500),
      line-height: 1.5,
      font-family: en,
    ),
  ),
  "input-2": (
    ko: (
      font-size: 14px,
      tablet-size: 14px,
      mobile-size: 14px,
      font-weight: (500),
      line-height: 1.5,
      font-family: ko,
    ),
    ja: (
      font-size: 14px,
      tablet-size: 14px,
      mobile-size: 14px,
      font-weight: (500),
      line-height: 1.5,
      font-family: ja,
    ),
    en: (
      font-size: 14px,
      tablet-size: 14px,
      mobile-size: 14px,
      font-weight: (500),
      line-height: 1.5,
      font-family: en,
    ),
  ),
  "input-3": (
    ko: (
      font-size: 12px,
      tablet-size: 12px,
      mobile-size: 12px,
      font-weight: (500),
      line-height: 1.5,
      font-family: ko,
    ),
    ja: (
      font-size: 12px,
      tablet-size: 12px,
      mobile-size: 12px,
      font-weight: (500),
      line-height: 1.5,
      font-family: ja,
    ),
    en: (
      font-size: 12px,
      tablet-size: 12px,
      mobile-size: 12px,
      font-weight: (500),
      line-height: 1.5,
      font-family: en,
    ),
  ),
  "helper-1": (
    ko: (
      font-size: 16px,
      tablet-size: 16px,
      mobile-size: 16px,
      font-weight: (500),
      line-height: 1.5,
      font-family: ko,
    ),
    ja: (
      font-size: 16px,
      tablet-size: 16px,
      mobile-size: 16px,
      font-weight: (500),
      line-height: 1.5,
      font-family: ja,
    ),
    en: (
      font-size: 16px,
      tablet-size: 16px,
      mobile-size: 16px,
      font-weight: (500),
      line-height: 1.5,
      font-family: en,
    ),
  ),
  "helper-2": (
    ko: (
      font-size: 14px,
      tablet-size: 14px,
      mobile-size: 14px,
      font-weight: (500),
      line-height: 1.5,
      font-family: ko,
    ),
    ja: (
      font-size: 14px,
      tablet-size: 14px,
      mobile-size: 14px,
      font-weight: (500),
      line-height: 1.5,
      font-family: ja,
    ),
    en: (
      font-size: 14px,
      tablet-size: 14px,
      mobile-size: 14px,
      font-weight: (500),
      line-height: 1.5,
      font-family: en,
    ),
  ),
  "helper-3": (
    ko: (
      font-size: 13px,
      tablet-size: 13px,
      mobile-size: 13px,
      font-weight: (500),
      line-height: 1.5,
      font-family: ko,
    ),
    ja: (
      font-size: 13px,
      tablet-size: 13px,
      mobile-size: 13px,
      font-weight: (500),
      line-height: 1.5,
      font-family: ja,
    ),
    en: (
      font-size: 13px,
      tablet-size: 13px,
      mobile-size: 13px,
      font-weight: (500),
      line-height: 1.5,
      font-family: en,
    ),
  ),
  "helper-4": (
    ko: (
      font-size: 12px,
      tablet-size: 12px,
      mobile-size: 12px,
      font-weight: (500),
      line-height: 1.5,
      font-family: ko,
    ),
    ja: (
      font-size: 12px,
      tablet-size: 12px,
      mobile-size: 12px,
      font-weight: (500),
      line-height: 1.5,
      font-family: ja,
    ),
    en: (
      font-size: 12px,
      tablet-size: 12px,
      mobile-size: 12px,
      font-weight: (500),
      line-height: 1.5,
      font-family: en,
    ),
  ),
  "calendar-1": (
    ko: (
      font-size: 14px,
      tablet-size: 14px,
      mobile-size: 14px,
      font-weight: (600),
      line-height: 1.5,
      font-family: ko,
    ),
    ja: (
      font-size: 14px,
      tablet-size: 14px,
      mobile-size: 14px,
      font-weight: (600),
      line-height: 1.5,
      font-family: ja,
    ),
    en: (
      font-size: 14px,
      tablet-size: 14px,
      mobile-size: 14px,
      font-weight: (600),
      line-height: 1.5,
      font-family: en,
    ),
  ),
  "toast-msg-1": (
    ko: (
      font-size: 14px,
      tablet-size: 14px,
      mobile-size: 14px,
      font-weight: (500),
      line-height: 1.5,
      font-family: ko,
    ),
    ja: (
      font-size: 14px,
      tablet-size: 14px,
      mobile-size: 14px,
      font-weight: (500),
      line-height: 1.5,
      font-family: ja,
    ),
    en: (
      font-size: 14px,
      tablet-size: 14px,
      mobile-size: 14px,
      font-weight: (500),
      line-height: 1.5,
      font-family: en,
    ),
  ),
  "toast-msg-2": (
    ko: (
      font-size: 12px,
      tablet-size: 12px,
      mobile-size: 12px,
      font-weight: (500),
      line-height: 1.5,
      font-family: ko,
    ),
    ja: (
      font-size: 12px,
      tablet-size: 12px,
      mobile-size: 12px,
      font-weight: (500),
      line-height: 1.5,
      font-family: ja,
    ),
    en: (
      font-size: 12px,
      tablet-size: 12px,
      mobile-size: 12px,
      font-weight: (500),
      line-height: 1.5,
      font-family: en,
    ),
  ),
  "modal-1": (
    ko: (
      font-size: 20px,
      tablet-size: 20px,
      mobile-size: 20px,
      font-weight: (600, 700),
      line-height: 1.5,
      font-family: ko,
    ),
    ja: (
      font-size: 20px,
      tablet-size: 20px,
      mobile-size: 20px,
      font-weight: (600, 700),
      line-height: 1.5,
      font-family: ja,
    ),
    en: (
      font-size: 20px,
      tablet-size: 20px,
      mobile-size: 20px,
      font-weight: (600, 700),
      line-height: 1.5,
      font-family: en,
    ),
  ),
  "modal-2": (
    ko: (
      font-size: 16px,
      tablet-size: 16px,
      mobile-size: 16px,
      font-weight: (400),
      line-height: 1.5,
      font-family: ko,
    ),
    ja: (
      font-size: 16px,
      tablet-size: 16px,
      mobile-size: 16px,
      font-weight: (400),
      line-height: 1.5,
      font-family: ja,
    ),
    en: (
      font-size: 16px,
      tablet-size: 16px,
      mobile-size: 16px,
      font-weight: (400),
      line-height: 1.5,
      font-family: en,
    ),
  ),
  "file-picker-title": (
    ko: (
      font-size: 20px,
      tablet-size: 20px,
      mobile-size: 20px,
      font-weight: (700),
      line-height: 1.5,
      font-family: ko,
    ),
    ja: (
      font-size: 20px,
      tablet-size: 20px,
      mobile-size: 20px,
      font-weight: (700),
      line-height: 1.5,
      font-family: ja,
    ),
    en: (
      font-size: 20px,
      tablet-size: 20px,
      mobile-size: 20px,
      font-weight: (700),
      line-height: 1.5,
      font-family: en,
    ),
  ),
  "file-picker-desc": (
    ko: (
      font-size: 16px,
      tablet-size: 16px,
      mobile-size: 16px,
      font-weight: (400),
      line-height: 1.5,
      font-family: ko,
    ),
    ja: (
      font-size: 16px,
      tablet-size: 16px,
      mobile-size: 16px,
      font-weight: (400),
      line-height: 1.5,
      font-family: ja,
    ),
    en: (
      font-size: 16px,
      tablet-size: 16px,
      mobile-size: 16px,
      font-weight: (400),
      line-height: 1.5,
      font-family: en,
    ),
  ),
  "file-picker-count": (
    ko: (
      font-size: 16px,
      tablet-size: 16px,
      mobile-size: 16px,
      font-weight: (600),
      line-height: 1.5,
      font-family: ko,
    ),
    ja: (
      font-size: 16px,
      tablet-size: 16px,
      mobile-size: 16px,
      font-weight: (600),
      line-height: 1.5,
      font-family: ja,
    ),
    en: (
      font-size: 16px,
      tablet-size: 16px,
      mobile-size: 16px,
      font-weight: (600),
      line-height: 1.5,
      font-family: en,
    ),
  ),
  "file-picker-file-info": (
    ko: (
      font-size: 14px,
      tablet-size: 14px,
      mobile-size: 14px,
      font-weight: (400),
      line-height: 1.5,
      font-family: ko,
    ),
    ja: (
      font-size: 14px,
      tablet-size: 14px,
      mobile-size: 14px,
      font-weight: (400),
      line-height: 1.5,
      font-family: ja,
    ),
    en: (
      font-size: 14px,
      tablet-size: 14px,
      mobile-size: 14px,
      font-weight: (400),
      line-height: 1.5,
      font-family: en,
    ),
  ),
  "data-table-1": (
    ko: (
      font-size: 16px,
      tablet-size: 16px,
      mobile-size: 16px,
      font-weight: (500, 700),
      line-height: 1.5,
      font-family: ko,
    ),
    ja: (
      font-size: 16px,
      tablet-size: 16px,
      mobile-size: 16px,
      font-weight: (500, 700),
      line-height: 1.5,
      font-family: ja,
    ),
    en: (
      font-size: 16px,
      tablet-size: 16px,
      mobile-size: 16px,
      font-weight: (500, 700),
      line-height: 1.5,
      font-family: en,
    ),
  ),
  "data-table-2": (
    ko: (
      font-size: 14px,
      tablet-size: 14px,
      mobile-size: 14px,
      font-weight: (500, 700),
      line-height: 1.5,
      font-family: ko,
    ),
    ja: (
      font-size: 14px,
      tablet-size: 14px,
      mobile-size: 14px,
      font-weight: (500, 700),
      line-height: 1.5,
      font-family: ja,
    ),
    en: (
      font-size: 14px,
      tablet-size: 14px,
      mobile-size: 14px,
      font-weight: (500, 700),
      line-height: 1.5,
      font-family: en,
    ),
  ),
  "data-table-3": (
    ko: (
      font-size: 12px,
      tablet-size: 12px,
      mobile-size: 12px,
      font-weight: (500, 700),
      line-height: 1.5,
      font-family: ko,
    ),
    ja: (
      font-size: 12px,
      tablet-size: 12px,
      mobile-size: 12px,
      font-weight: (500, 700),
      line-height: 1.5,
      font-family: ja,
    ),
    en: (
      font-size: 12px,
      tablet-size: 12px,
      mobile-size: 12px,
      font-weight: (500, 700),
      line-height: 1.5,
      font-family: en,
    ),
  ),
  "badge-1": (
    ko: (
      font-size: 16px,
      tablet-size: 16px,
      mobile-size: 16px,
      font-weight: (500),
      line-height: 1.5,
      font-family: ko,
    ),
    ja: (
      font-size: 16px,
      tablet-size: 16px,
      mobile-size: 16px,
      font-weight: (500),
      line-height: 1.5,
      font-family: ja,
    ),
    en: (
      font-size: 16px,
      tablet-size: 16px,
      mobile-size: 16px,
      font-weight: (500),
      line-height: 1.5,
      font-family: en,
    ),
  ),
  "badge-2": (
    ko: (
      font-size: 14px,
      tablet-size: 14px,
      mobile-size: 14px,
      font-weight: (500),
      line-height: 1.5,
      font-family: ko,
    ),
    ja: (
      font-size: 14px,
      tablet-size: 14px,
      mobile-size: 14px,
      font-weight: (500),
      line-height: 1.5,
      font-family: ja,
    ),
    en: (
      font-size: 14px,
      tablet-size: 14px,
      mobile-size: 14px,
      font-weight: (500),
      line-height: 1.5,
      font-family: en,
    ),
  ),
  "badge-3": (
    ko: (
      font-size: 12px,
      tablet-size: 12px,
      mobile-size: 12px,
      font-weight: (500),
      line-height: 1.5,
      font-family: ko,
    ),
    ja: (
      font-size: 12px,
      tablet-size: 12px,
      mobile-size: 12px,
      font-weight: (500),
      line-height: 1.5,
      font-family: ja,
    ),
    en: (
      font-size: 12px,
      tablet-size: 12px,
      mobile-size: 12px,
      font-weight: (500),
      line-height: 1.5,
      font-family: en,
    ),
  ),
  "pagination-1": (
    ko: (
      font-size: 20px,
      tablet-size: 20px,
      mobile-size: 20px,
      font-weight: (600),
      line-height: 1.5,
      font-family: ko,
    ),
    ja: (
      font-size: 20px,
      tablet-size: 20px,
      mobile-size: 20px,
      font-weight: (600),
      line-height: 1.5,
      font-family: ja,
    ),
    en: (
      font-size: 20px,
      tablet-size: 20px,
      mobile-size: 20px,
      font-weight: (600),
      line-height: 1.5,
      font-family: en,
    ),
  ),
  "pagination-2": (
    ko: (
      font-size: 18px,
      tablet-size: 18px,
      mobile-size: 18px,
      font-weight: (600),
      line-height: 1.5,
      font-family: ko,
    ),
    ja: (
      font-size: 18px,
      tablet-size: 18px,
      mobile-size: 18px,
      font-weight: (600),
      line-height: 1.5,
      font-family: ja,
    ),
    en: (
      font-size: 18px,
      tablet-size: 18px,
      mobile-size: 18px,
      font-weight: (600),
      line-height: 1.5,
      font-family: en,
    ),
  ),
  "pagination-3": (
    ko: (
      font-size: 16px,
      tablet-size: 16px,
      mobile-size: 16px,
      font-weight: (600),
      line-height: 1.5,
      font-family: ko,
    ),
    ja: (
      font-size: 16px,
      tablet-size: 16px,
      mobile-size: 16px,
      font-weight: (600),
      line-height: 1.5,
      font-family: ja,
    ),
    en: (
      font-size: 16px,
      tablet-size: 16px,
      mobile-size: 16px,
      font-weight: (600),
      line-height: 1.5,
      font-family: en,
    ),
  ),
  "accordion-title-1": (
    ko: (
      font-size: 18px,
      tablet-size: 18px,
      mobile-size: 18px,
      font-weight: (500, 700),
      line-height: 1.5,
      font-family: ko,
    ),
    ja: (
      font-size: 18px,
      tablet-size: 18px,
      mobile-size: 18px,
      font-weight: (500, 700),
      line-height: 1.5,
      font-family: ja,
    ),
    en: (
      font-size: 18px,
      tablet-size: 18px,
      mobile-size: 18px,
      font-weight: (500, 700),
      line-height: 1.5,
      font-family: en,
    ),
  ),
  "accordion-title-2": (
    ko: (
      font-size: 16px,
      tablet-size: 16px,
      mobile-size: 16px,
      font-weight: (500, 700),
      line-height: 1.5,
      font-family: ko,
    ),
    ja: (
      font-size: 16px,
      tablet-size: 16px,
      mobile-size: 16px,
      font-weight: (500, 700),
      line-height: 1.5,
      font-family: ja,
    ),
    en: (
      font-size: 16px,
      tablet-size: 16px,
      mobile-size: 16px,
      font-weight: (500, 700),
      line-height: 1.5,
      font-family: en,
    ),
  ),
  "accordion-title-3": (
    ko: (
      font-size: 14px,
      tablet-size: 14px,
      mobile-size: 14px,
      font-weight: (500, 700),
      line-height: 1.5,
      font-family: ko,
    ),
    ja: (
      font-size: 14px,
      tablet-size: 14px,
      mobile-size: 14px,
      font-weight: (500, 700),
      line-height: 1.5,
      font-family: ja,
    ),
    en: (
      font-size: 14px,
      tablet-size: 14px,
      mobile-size: 14px,
      font-weight: (500, 700),
      line-height: 1.5,
      font-family: en,
    ),
  ),
  "accordion-sub-title-1": (
    ko: (
      font-size: 16px,
      tablet-size: 16px,
      mobile-size: 16px,
      font-weight: (500, 700),
      line-height: 1.5,
      font-family: ko,
    ),
    ja: (
      font-size: 16px,
      tablet-size: 16px,
      mobile-size: 16px,
      font-weight: (500, 700),
      line-height: 1.5,
      font-family: ja,
    ),
    en: (
      font-size: 16px,
      tablet-size: 16px,
      mobile-size: 16px,
      font-weight: (500, 700),
      line-height: 1.5,
      font-family: en,
    ),
  ),
  "accordion-sub-title-2": (
    ko: (
      font-size: 14px,
      tablet-size: 14px,
      mobile-size: 14px,
      font-weight: (500, 700),
      line-height: 1.5,
      font-family: ko,
    ),
    ja: (
      font-size: 14px,
      tablet-size: 14px,
      mobile-size: 14px,
      font-weight: (500, 700),
      line-height: 1.5,
      font-family: ja,
    ),
    en: (
      font-size: 14px,
      tablet-size: 14px,
      mobile-size: 14px,
      font-weight: (500, 700),
      line-height: 1.5,
      font-family: en,
    ),
  ),
  "accordion-sub-title-3": (
    ko: (
      font-size: 14px,
      tablet-size: 14px,
      mobile-size: 14px,
      font-weight: (500, 700),
      line-height: 1.5,
      font-family: ko,
    ),
    ja: (
      font-size: 14px,
      tablet-size: 14px,
      mobile-size: 14px,
      font-weight: (500, 700),
      line-height: 1.5,
      font-family: ja,
    ),
    en: (
      font-size: 14px,
      tablet-size: 14px,
      mobile-size: 14px,
      font-weight: (500, 700),
      line-height: 1.5,
      font-family: en,
    ),
  ),
  "accordion-sub-title-4": (
    ko: (
      font-size: 12px,
      tablet-size: 12px,
      mobile-size: 12px,
      font-weight: (500, 700),
      line-height: 1.5,
      font-family: ko,
    ),
    ja: (
      font-size: 12px,
      tablet-size: 12px,
      mobile-size: 12px,
      font-weight: (500, 700),
      line-height: 1.5,
      font-family: ja,
    ),
    en: (
      font-size: 12px,
      tablet-size: 12px,
      mobile-size: 12px,
      font-weight: (500, 700),
      line-height: 1.5,
      font-family: en,
    ),
  ),
  "chip-1": (
    ko: (
      font-size: 16px,
      tablet-size: 16px,
      mobile-size: 16px,
      font-weight: (500),
      line-height: 1.5,
      font-family: ko,
    ),
    ja: (
      font-size: 16px,
      tablet-size: 16px,
      mobile-size: 16px,
      font-weight: (500),
      line-height: 1.5,
      font-family: ja,
    ),
    en: (
      font-size: 16px,
      tablet-size: 16px,
      mobile-size: 16px,
      font-weight: (500),
      line-height: 1.5,
      font-family: en,
    ),
  ),
  "chip-2": (
    ko: (
      font-size: 14px,
      tablet-size: 14px,
      mobile-size: 14px,
      font-weight: (500),
      line-height: 1.5,
      font-family: ko,
    ),
    ja: (
      font-size: 14px,
      tablet-size: 14px,
      mobile-size: 14px,
      font-weight: (500),
      line-height: 1.5,
      font-family: ja,
    ),
    en: (
      font-size: 14px,
      tablet-size: 14px,
      mobile-size: 14px,
      font-weight: (500),
      line-height: 1.5,
      font-family: en,
    ),
  ),
  "chip-3": (
    ko: (
      font-size: 12px,
      tablet-size: 12px,
      mobile-size: 12px,
      font-weight: (500),
      line-height: 1.5,
      font-family: ko,
    ),
    ja: (
      font-size: 12px,
      tablet-size: 12px,
      mobile-size: 12px,
      font-weight: (500),
      line-height: 1.5,
      font-family: ja,
    ),
    en: (
      font-size: 12px,
      tablet-size: 12px,
      mobile-size: 12px,
      font-weight: (500),
      line-height: 1.5,
      font-family: en,
    ),
  ),
  "tag-1": (
    ko: (
      font-size: 14px,
      tablet-size: 14px,
      mobile-size: 14px,
      font-weight: (500),
      line-height: 1.5,
      font-family: ko,
    ),
    ja: (
      font-size: 14px,
      tablet-size: 14px,
      mobile-size: 14px,
      font-weight: (500),
      line-height: 1.5,
      font-family: ja,
    ),
    en: (
      font-size: 14px,
      tablet-size: 14px,
      mobile-size: 14px,
      font-weight: (500),
      line-height: 1.5,
      font-family: en,
    ),
  ),
  "tag-2": (
    ko: (
      font-size: 12px,
      tablet-size: 12px,
      mobile-size: 12px,
      font-weight: (500),
      line-height: 1.5,
      font-family: ko,
    ),
    ja: (
      font-size: 12px,
      tablet-size: 12px,
      mobile-size: 12px,
      font-weight: (500),
      line-height: 1.5,
      font-family: ja,
    ),
    en: (
      font-size: 12px,
      tablet-size: 12px,
      mobile-size: 12px,
      font-weight: (500),
      line-height: 1.5,
      font-family: en,
    ),
  ),
  "tooltip-1": (
    ko: (
      font-size: 14px,
      tablet-size: 14px,
      mobile-size: 14px,
      font-weight: (500),
      line-height: 1.5,
      font-family: ko,
    ),
    ja: (
      font-size: 14px,
      tablet-size: 14px,
      mobile-size: 14px,
      font-weight: (500),
      line-height: 1.5,
      font-family: ja,
    ),
    en: (
      font-size: 14px,
      tablet-size: 14px,
      mobile-size: 14px,
      font-weight: (500),
      line-height: 1.5,
      font-family: en,
    ),
  ),
  "tooltip-2": (
    ko: (
      font-size: 12px,
      tablet-size: 12px,
      mobile-size: 12px,
      font-weight: (500),
      line-height: 1.5,
      font-family: ko,
    ),
    ja: (
      font-size: 12px,
      tablet-size: 12px,
      mobile-size: 12px,
      font-weight: (500),
      line-height: 1.5,
      font-family: ja,
    ),
    en: (
      font-size: 12px,
      tablet-size: 12px,
      mobile-size: 12px,
      font-weight: (500),
      line-height: 1.5,
      font-family: en,
    ),
  ),
  "avatar-1": (
    ko: (
      font-size: 18px,
      tablet-size: 18px,
      mobile-size: 18px,
      font-weight: (500),
      line-height: 1.5,
      font-family: ko,
    ),
    ja: (
      font-size: 18px,
      tablet-size: 18px,
      mobile-size: 18px,
      font-weight: (500),
      line-height: 1.5,
      font-family: ja,
    ),
    en: (
      font-size: 18px,
      tablet-size: 18px,
      mobile-size: 18px,
      font-weight: (500),
      line-height: 1.5,
      font-family: en,
    ),
  ),
  "avatar-2": (
    ko: (
      font-size: 16px,
      tablet-size: 16px,
      mobile-size: 16px,
      font-weight: (500),
      line-height: 1.5,
      font-family: ko,
    ),
    ja: (
      font-size: 16px,
      tablet-size: 16px,
      mobile-size: 16px,
      font-weight: (500),
      line-height: 1.5,
      font-family: ja,
    ),
    en: (
      font-size: 16px,
      tablet-size: 16px,
      mobile-size: 16px,
      font-weight: (500),
      line-height: 1.5,
      font-family: en,
    ),
  ),
  "avatar-3": (
    ko: (
      font-size: 14px,
      tablet-size: 14px,
      mobile-size: 14px,
      font-weight: (500),
      line-height: 1.5,
      font-family: ko,
    ),
    ja: (
      font-size: 14px,
      tablet-size: 14px,
      mobile-size: 14px,
      font-weight: (500),
      line-height: 1.5,
      font-family: ja,
    ),
    en: (
      font-size: 14px,
      tablet-size: 14px,
      mobile-size: 14px,
      font-weight: (500),
      line-height: 1.5,
      font-family: en,
    ),
  ),
  "avatar-4": (
    ko: (
      font-size: 12px,
      tablet-size: 12px,
      mobile-size: 12px,
      font-weight: (500),
      line-height: 1.5,
      font-family: ko,
    ),
    ja: (
      font-size: 12px,
      tablet-size: 12px,
      mobile-size: 12px,
      font-weight: (500),
      line-height: 1.5,
      font-family: ja,
    ),
    en: (
      font-size: 12px,
      tablet-size: 12px,
      mobile-size: 12px,
      font-weight: (500),
      line-height: 1.5,
      font-family: en,
    ),
  ),
  "breadcrumb-1": (
    ko: (
      font-size: 18px,
      tablet-size: 18px,
      mobile-size: 18px,
      font-weight: (400, 700),
      line-height: 1.5,
      font-family: ko,
    ),
    ja: (
      font-size: 18px,
      tablet-size: 18px,
      mobile-size: 18px,
      font-weight: (400, 700),
      line-height: 1.5,
      font-family: ja,
    ),
    en: (
      font-size: 18px,
      tablet-size: 18px,
      mobile-size: 18px,
      font-weight: (400, 700),
      line-height: 1.5,
      font-family: en,
    ),
  ),
  "breadcrumb-2": (
    ko: (
      font-size: 16px,
      tablet-size: 16px,
      mobile-size: 16px,
      font-weight: (400, 700),
      line-height: 1.5,
      font-family: ko,
    ),
    ja: (
      font-size: 16px,
      tablet-size: 16px,
      mobile-size: 16px,
      font-weight: (400, 700),
      line-height: 1.5,
      font-family: ja,
    ),
    en: (
      font-size: 16px,
      tablet-size: 16px,
      mobile-size: 16px,
      font-weight: (400, 700),
      line-height: 1.5,
      font-family: en,
    ),
  ),
  "breadcrumb-3": (
    ko: (
      font-size: 14px,
      tablet-size: 14px,
      mobile-size: 14px,
      font-weight: (400, 700),
      line-height: 1.5,
      font-family: ko,
    ),
    ja: (
      font-size: 14px,
      tablet-size: 14px,
      mobile-size: 14px,
      font-weight: (400, 700),
      line-height: 1.5,
      font-family: ja,
    ),
    en: (
      font-size: 14px,
      tablet-size: 14px,
      mobile-size: 14px,
      font-weight: (400, 700),
      line-height: 1.5,
      font-family: en,
    ),
  ),
  "code": (
    ko: (
      font-size: 12px,
      tablet-size: 12px,
      mobile-size: 12px,
      font-weight: (400),
      line-height: 1.5,
      font-family: code,
    ),
    ja: (
      font-size: 12px,
      tablet-size: 12px,
      mobile-size: 12px,
      font-weight: (400),
      line-height: 1.5,
      font-family: code,
    ),
    en: (
      font-size: 12px,
      tablet-size: 12px,
      mobile-size: 12px,
      font-weight: (400),
      line-height: 1.5,
      font-family: code,
    ),
  ),
);