/* Textarea.module.scss */
@use 'sass:map';
@use 'sass:meta';
@use '../../../../styles/mixins' as *;

// Textarea Colors
$textarea-colors: (
  primary: (
    solid: (
      bg: var(--project-color-primary-textarea-solid-bg),
      color: var(--project-color-primary-textarea-solid-text),
      placeholder: var(--project-color-primary-textarea-solid-placeholder),
      hover: (
        shadow: 0 0 0 rem(4px) var(--project-color-primary-textarea-shadow-hover),
      ),
      disabled: (
        bg: var(--project-color-textarea-disabled-bg),
        color: var(--project-color-textarea-disabled-text),
        placeholder: var(--project-color-textarea-disabled-placeholder),
      ),
      readonly: (
        bg: var(--project-color-textarea-readonly-bg),
        color: var(--project-color-textarea-readonly-text),
        placeholder: var(--project-color-textarea-readonly-placeholder),
      ),
    ),
    outline: (
      bg: var(--project-color-primary-textarea-outline-bg),
      border: var(--project-color-primary-textarea-outline-border),
      color: var(--project-color-primary-textarea-outline-text),
      placeholder: var(--project-color-primary-textarea-outline-placeholder),
      hover: (
        shadow: 0 0 0 rem(4px) var(--project-color-primary-textarea-shadow-hover),
      ),
      disabled: (
        bg: var(--project-color-textarea-disabled-bg),
        color: var(--project-color-textarea-disabled-text),
        border: var(--project-color-textarea-disabled-border),
        placeholder: var(--project-color-textarea-disabled-placeholder),
      ),
      readonly: (
        bg: var(--project-color-textarea-readonly-bg),
        color: var(--project-color-textarea-readonly-text),
        border: var(--project-color-textarea-readonly-border),
        placeholder: var(--project-color-textarea-readonly-border),
      ),
    ),
  ),
  secondary: (
    solid: (
      bg: var(--project-color-secondary-textarea-solid-bg),
      color: var(--project-color-secondary-textarea-solid-text),
      placeholder: var(--project-color-secondary-textarea-solid-placeholder),
      hover: (
        shadow: 0 0 0 rem(4px) var(--project-color-secondary-textarea-shadow-hover),
      ),
      disabled: (
        bg: var(--project-color-textarea-disabled-bg),
        color: var(--project-color-textarea-disabled-text),
        placeholder: var(--project-color-textarea-disabled-placeholder),
      ),
      readonly: (
        bg: var(--project-color-textarea-readonly-bg),
        color: var(--project-color-textarea-readonly-text),
        placeholder: var(--project-color-textarea-readonly-placeholder),
      ),
    ),
    outline: (
      bg: var(--project-color-secondary-textarea-outline-bg),
      border: var(--project-color-secondary-textarea-outline-border),
      color: var(--project-color-secondary-textarea-outline-text),
      placeholder: var(--project-color-secondary-textarea-outline-placeholder),
      hover: (
        shadow: 0 0 0 rem(4px) var(--project-color-secondary-textarea-shadow-hover),
      ),
      disabled: (
        bg: var(--project-color-textarea-disabled-bg),
        color: var(--project-color-textarea-disabled-text),
        border: var(--project-color-textarea-disabled-border),
        placeholder: var(--project-color-textarea-disabled-placeholder),
      ),
      readonly: (
        bg: var(--project-color-textarea-readonly-bg),
        color: var(--project-color-textarea-readonly-text),
        border: var(--project-color-textarea-readonly-border),
        placeholder: var(--project-color-textarea-readonly-border),
      ),
    ),
  ),
  tertiary: (
    solid: (
      bg: var(--project-color-tertiary-textarea-solid-bg),
      color: var(--project-color-tertiary-textarea-solid-text),
      placeholder: var(--project-color-tertiary-textarea-solid-placeholder),
      hover: (
        shadow: 0 0 0 rem(4px) var(--project-color-tertiary-textarea-shadow-hover),
      ),
      disabled: (
        bg: var(--project-color-textarea-disabled-bg),
        color: var(--project-color-textarea-disabled-text),
        placeholder: var(--project-color-textarea-disabled-placeholder),
      ),
      readonly: (
        bg: var(--project-color-textarea-readonly-bg),
        color: var(--project-color-textarea-readonly-text),
        placeholder: var(--project-color-textarea-readonly-placeholder),
      ),
    ),
    outline: (
      bg: var(--project-color-tertiary-textarea-outline-bg),
      border: var(--project-color-tertiary-textarea-outline-border),
      color: var(--project-color-tertiary-textarea-outline-text),
      placeholder: var(--project-color-tertiary-textarea-outline-placeholder),
      hover: (
        shadow: 0 0 0 rem(4px) var(--project-color-tertiary-textarea-shadow-hover),
      ),
      disabled: (
        bg: var(--project-color-textarea-disabled-bg),
        color: var(--project-color-textarea-disabled-text),
        border: var(--project-color-textarea-disabled-border),
        placeholder: var(--project-color-textarea-disabled-placeholder),
      ),
      readonly: (
        bg: var(--project-color-textarea-readonly-bg),
        color: var(--project-color-textarea-readonly-text),
        border: var(--project-color-textarea-readonly-border),
        placeholder: var(--project-color-textarea-readonly-border),
      ),
    ),
  ),
  success: (
    solid: (
      bg: var(--project-color-textarea-solid-success-bg),
      placeholder: var(--project-color-textarea-solid-success-placeholder),
      color: var(--project-color-textarea-solid-success-text),
      hover: (
        shadow: 0 0 0 rem(4px) var(--project-color-textarea-success-hover-shadow),
      ),
      disabled: (
        bg: var(--project-color-textarea-disabled-bg),
        color: var(--project-color-textarea-disabled-text),
        placeholder: var(--project-color-textarea-disabled-placeholder),
      ),
      readonly: (
        bg: var(--project-color-textarea-readonly-bg),
        color: var(--project-color-textarea-readonly-text),
        placeholder: var(--project-color-textarea-readonly-placeholder),
      ),
    ),
    outline: (
      bg: var(--project-color-textarea-outline-success-bg),
      border: var(--project-color-textarea-outline-success-border),
      placeholder: var(--project-color-textarea-outline-success-placeholder),
      color: var(--project-color-textarea-outline-success-text),
      hover: (
        shadow: 0 0 0 rem(4px) var(--project-color-textarea-success-hover-shadow),
      ),
      disabled: (
        bg: var(--project-color-textarea-disabled-bg),
        color: var(--project-color-textarea-disabled-text),
        border: var(--project-color-textarea-disabled-border),
        placeholder: var(--project-color-textarea-disabled-placeholder),
      ),
      readonly: (
        bg: var(--project-color-textarea-readonly-bg),
        color: var(--project-color-textarea-readonly-text),
        border: var(--project-color-textarea-readonly-border),
        placeholder: var(--project-color-textarea-readonly-border),
      ),
    ),
  ),
  warning: (
    solid: (
      bg: var(--project-color-textarea-solid-warning-bg),
      placeholder: var(--project-color-textarea-solid-warning-placeholder),
      color: var(--project-color-textarea-solid-warning-text),
      hover: (
        shadow: 0 0 0 rem(4px) var(--project-color-textarea-warning-hover-shadow),
      ),
      disabled: (
        bg: var(--project-color-textarea-disabled-bg),
        color: var(--project-color-textarea-disabled-text),
        placeholder: var(--project-color-textarea-disabled-placeholder),
      ),
      readonly: (
        bg: var(--project-color-textarea-readonly-bg),
        color: var(--project-color-textarea-readonly-text),
        placeholder: var(--project-color-textarea-readonly-placeholder),
      ),
    ),
    outline: (
      bg: var(--project-color-textarea-outline-warning-bg),
      border: var(--project-color-textarea-outline-warning-border),
      placeholder: var(--project-color-textarea-outline-warning-placeholder),
      color: var(--project-color-textarea-outline-warning-text),
      hover: (
        shadow: 0 0 0 rem(4px) var(--project-color-textarea-warning-hover-shadow),
      ),
      disabled: (
        bg: var(--project-color-textarea-disabled-bg),
        color: var(--project-color-textarea-disabled-text),
        border: var(--project-color-textarea-disabled-border),
        placeholder: var(--project-color-textarea-disabled-placeholder),
      ),
      readonly: (
        bg: var(--project-color-textarea-readonly-bg),
        color: var(--project-color-textarea-readonly-text),
        border: var(--project-color-textarea-readonly-border),
        placeholder: var(--project-color-textarea-readonly-border),
      ),
    ),
  ),
  danger: (
    solid: (
      bg: var(--project-color-textarea-solid-danger-bg),
      placeholder: var(--project-color-textarea-solid-danger-placeholder),
      color: var(--project-color-textarea-solid-danger-text),
      hover: (
        shadow: 0 0 0 rem(4px) var(--project-color-textarea-danger-hover-shadow),
      ),
      disabled: (
        bg: var(--project-color-textarea-disabled-bg),
        color: var(--project-color-textarea-disabled-text),
        placeholder: var(--project-color-textarea-disabled-placeholder),
      ),
      readonly: (
        bg: var(--project-color-textarea-readonly-bg),
        color: var(--project-color-textarea-readonly-text),
        placeholder: var(--project-color-textarea-readonly-placeholder),
      ),
    ),
    outline: (
      bg: var(--project-color-textarea-outline-danger-bg),
      border: var(--project-color-textarea-outline-danger-border),
      placeholder: var(--project-color-textarea-outline-danger-placeholder),
      color: var(--project-color-textarea-outline-danger-text),
      hover: (
        shadow: 0 0 0 rem(4px) var(--project-color-textarea-danger-hover-shadow),
      ),
      disabled: (
        bg: var(--project-color-textarea-disabled-bg),
        color: var(--project-color-textarea-disabled-text),
        border: var(--project-color-textarea-disabled-border),
        placeholder: var(--project-color-textarea-disabled-placeholder),
      ),
      readonly: (
        bg: var(--project-color-textarea-readonly-bg),
        color: var(--project-color-textarea-readonly-text),
        border: var(--project-color-textarea-readonly-border),
        placeholder: var(--project-color-textarea-readonly-border),
      ),
    ),
  ),
);

// textarea sizes
$textarea-sizes: (
  xs: (
    width: rem(360px),
  ),
  sm: (
    width: rem(460px),
  ),
  md: (
    width: rem(520px),
  ),
  lg: (
    width: rem(620px),
  ),
  xl: (
    width: 100%,
  ),
);

// mixin - textarea variant (color)
@mixin textarea-variant($variant) {
  &:global(.variant--#{$variant}) {
    @each $color-name, $props in $textarea-colors {
      $variant-props: map.get($props, $variant);
      $hover-props: map.get($variant-props, hover);
      $shadow-value: map.get($hover-props, shadow);

      @if $variant-props != null {
        &:global(.color--#{$color-name}) {
          &:not(:has(textarea:disabled, textarea:read-only)):hover {
            box-shadow: $shadow-value;
          }

          @if $variant == 'solid' {
            background-color: map.get($variant-props, bg);

            :global(textarea) {
              color: map.get($variant-props, color);
              border: none;

              &::placeholder {
                color: map.get($variant-props, placeholder);
              }
            }
          } @else if $variant == 'outline' {
            background-color: map.get($variant-props, bg);
            border: rem(1px) solid map.get($variant-props, border);

            :global(textarea) {
              color: map.get($variant-props, color);

              &::placeholder {
                color: map.get($variant-props, placeholder);
              }
            }
          }

          // 1. 오직 Disabled 일 때만 (Read-only는 제외)
          &:has(textarea:disabled) {
            cursor: not-allowed;
            background-color: var(--project-color-textarea-disabled-bg);
            border-color: var(--project-color-textarea-disabled-border);

            :global(textarea) {
              cursor: not-allowed;
              color: var(--project-color-textarea-disabled-text);
              &::placeholder {
                color: var(--project-color-textarea-disabled-placeholder);
              }
            }
          }

          // 2. 오직 Read-only 일 때만 (Disabled는 제외)
          &:has(textarea:read-only):not(:has(textarea:disabled)) {
            cursor: default;
            background-color: var(--project-color-textarea-readonly-bg);
            border-color: var(--project-color-textarea-readonly-border);

            :global(textarea) {
              cursor: text;
              color: var(--project-color-textarea-readonly-text);
              &::placeholder {
                color: var(--project-color-textarea-readonly-placeholder);
              }
            }
          }
        }
      }
    }
  }
}

// mixin - btn sizes
@mixin textarea-size() {
  @each $size-name, $props in $textarea-sizes {
    $width: map.get($props, width);

    &:global(.size--#{$size-name}) {
      width: $width;
    }
  }
}

.textarea {
  width: 100%;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  gap: rem(4px);
  padding: rem(10px) rem(14px);
  border-radius: var(--project-border-radius-8);
  transition: all 0.2s ease;

  &:has(textarea:focus-visible) {
    outline: 2.5px dashed var(--project-color-interaction-focus-ring) !important;
    outline-offset: 2px;
  }

  :global(textarea) {
    border: none;
    resize: none;
    width: 100%;
    height: 100%;
    outline: none !important;
    word-break: break-all;
    font: var(--project-typo-input-1-500);
    background-color: inherit;
  }

  // size
  @include textarea-size();
  @include textarea-variant(solid);
  @include textarea-variant(outline);
}

.textarea-counter {
  align-self: end;
  font: var(--project-typo-label-3-500);

  &:global(.is-max) {
    color: var(--project-color-textarea-danger-max-text);
  }
}
