/* Textarea.module.scss */
@use 'sass:map';
@use 'sass:meta';
@use '../../../../styles/mixins' as *;

// Textarea Colors
$textarea-colors: (
  primary: (
    solid: (
      bg: var(--primary-bg-color-textarea-solid),
      color: var(--primary-text-color-textarea-solid),
      placeholder: var(--primary-placeholder-color-textarea-solid),
      hover: (
        shadow: 0 0 0 rem(4px) var(--primary-hover-shadow-textarea),
      ),
      disabled: (
        bg: var(--disabled-bg-color-textarea),
        color: var(--disabled-text-color-textarea),
        placeholder: var(--disabled-placeholder-color-textarea),
      ),
      readonly: (
        bg: var(--readonly-bg-color-textarea),
        color: var(--readonly-text-color-textarea),
        placeholder: var(--readonly-placeholder-color-textarea),
      ),
    ),
    outline: (
      bg: var(--primary-bg-color-textarea-outline),
      border: var(--primary-stroke-color-textarea-outline),
      color: var(--primary-text-color-textarea-outline),
      placeholder: var(--primary-placeholder-color-textarea-outline),
      hover: (
        shadow: 0 0 0 rem(4px) var(--primary-hover-shadow-textarea),
      ),
      disabled: (
        bg: var(--disabled-bg-color-textarea),
        color: var(--disabled-text-color-textarea),
        border: var(--disabled-stroke-color-textarea),
        placeholder: var(--disabled-placeholder-color-textarea),
      ),
      readonly: (
        bg: var(--readonly-bg-color-textarea),
        color: var(--readonly-text-color-textarea),
        border: var(--readonly-stroke-color-textarea),
        placeholder: var(--readonly-placeholder-color-textarea),
      ),
    ),
  ),
  secondary: (
    solid: (
      bg: var(--secondary-bg-color-textarea-solid),
      color: var(--secondary-text-color-textarea-solid),
      placeholder: var(--secondary-placeholder-color-textarea-solid),
      hover: (
        shadow: 0 0 0 rem(4px) var(--secondary-hover-shadow-textarea),
      ),
      disabled: (
        bg: var(--disabled-bg-color-textarea),
        color: var(--disabled-text-color-textarea),
        placeholder: var(--disabled-placeholder-color-textarea),
      ),
      readonly: (
        bg: var(--readonly-bg-color-textarea),
        color: var(--readonly-text-color-textarea),
        placeholder: var(--readonly-placeholder-color-textarea),
      ),
    ),
    outline: (
      bg: var(--secondary-bg-color-textarea-outline),
      border: var(--secondary-stroke-color-textarea-outline),
      color: var(--secondary-text-color-textarea-outline),
      placeholder: var(--secondary-placeholder-color-textarea-outline),
      hover: (
        shadow: 0 0 0 rem(4px) var(--secondary-hover-shadow-textarea),
      ),
      disabled: (
        bg: var(--disabled-bg-color-textarea),
        color: var(--disabled-text-color-textarea),
        placeholder: var(--disabled-placeholder-color-textarea),
      ),
      readonly: (
        bg: var(--readonly-bg-color-textarea),
        color: var(--readonly-text-color-textarea),
        placeholder: var(--readonly-placeholder-color-textarea),
      ),
    ),
  ),
  tertiary: (
    solid: (
      bg: var(--tertiary-bg-color-textarea-solid),
      color: var(--tertiary-text-color-textarea-solid),
      placeholder: var(--tertiary-placeholder-color-textarea-solid),
      hover: (
        shadow: 0 0 0 rem(4px) var(--tertiary-hover-shadow-textarea),
      ),
      disabled: (
        bg: var(--disabled-bg-color-textarea),
        color: var(--disabled-text-color-textarea),
        placeholder: var(--disabled-placeholder-color-textarea),
      ),
      readonly: (
        bg: var(--readonly-bg-color-textarea),
        color: var(--readonly-text-color-textarea),
        placeholder: var(--readonly-placeholder-color-textarea),
      ),
    ),
    outline: (
      bg: var(--tertiary-bg-color-textarea-outline),
      border: var(--tertiary-stroke-color-textarea-outline),
      color: var(--tertiary-text-color-textarea-outline),
      placeholder: var(--tertiary-placeholder-color-textarea-outline),
      hover: (
        shadow: 0 0 0 rem(4px) var(--tertiary-hover-shadow-textarea),
      ),
      disabled: (
        bg: var(--disabled-bg-color-textarea),
        color: var(--disabled-text-color-textarea),
        placeholder: var(--disabled-placeholder-color-textarea),
      ),
      readonly: (
        bg: var(--readonly-bg-color-textarea),
        color: var(--readonly-text-color-textarea),
        placeholder: var(--readonly-placeholder-color-textarea),
      ),
    ),
  ),
  success: (
    solid: (
      bg: var(--success-bg-color-textarea-solid),
      placeholder: var(--success-placeholder-color-textarea-solid),
      color: var(--success-text-color-textarea-solid),
      hover: (
        shadow: 0 0 0 rem(4px) var(--success-hover-shadow-textarea),
      ),
      disabled: (
        bg: var(--disabled-bg-color-textarea),
        color: var(--disabled-text-color-textarea),
        placeholder: var(--disabled-placeholder-color-textarea),
      ),
      readonly: (
        bg: var(--readonly-bg-color-textarea),
        color: var(--readonly-text-color-textarea),
        placeholder: var(--readonly-placeholder-color-textarea),
      ),
    ),
    outline: (
      bg: var(--success-bg-color-textarea-outline),
      border: var(--success-stroke-color-textarea-outline),
      placeholder: var(--success-placeholder-color-textarea-outline),
      color: var(--success-text-color-textarea-outline),
      hover: (
        shadow: 0 0 0 rem(4px) var(--success-hover-shadow-textarea),
      ),
      disabled: (
        bg: var(--disabled-bg-color-textarea),
        color: var(--disabled-text-color-textarea),
        placeholder: var(--disabled-placeholder-color-textarea),
      ),
      readonly: (
        bg: var(--readonly-bg-color-textarea),
        color: var(--readonly-text-color-textarea),
        placeholder: var(--readonly-placeholder-color-textarea),
      ),
    ),
  ),
  warning: (
    solid: (
      bg: var(--warning-bg-color-textarea-solid),
      placeholder: var(--warning-placeholder-color-textarea-solid),
      color: var(--warning-text-color-textarea-solid),
      hover: (
        shadow: 0 0 0 rem(4px) var(--warning-hover-shadow-textarea),
      ),
      disabled: (
        bg: var(--disabled-bg-color-textarea),
        color: var(--disabled-text-color-textarea),
        placeholder: var(--disabled-placeholder-color-textarea),
      ),
      readonly: (
        bg: var(--readonly-bg-color-textarea),
        color: var(--readonly-text-color-textarea),
        placeholder: var(--readonly-placeholder-color-textarea),
      ),
    ),
    outline: (
      bg: var(--warning-bg-color-textarea-outline),
      border: var(--warning-stroke-color-textarea-outline),
      placeholder: var(--warning-placeholder-color-textarea-outline),
      color: var(--warning-text-color-textarea-outline),
      hover: (
        shadow: 0 0 0 rem(4px) var(--warning-hover-shadow-textarea),
      ),
      disabled: (
        bg: var(--disabled-bg-color-textarea),
        color: var(--disabled-text-color-textarea),
        placeholder: var(--disabled-placeholder-color-textarea),
      ),
      readonly: (
        bg: var(--readonly-bg-color-textarea),
        color: var(--readonly-text-color-textarea),
        placeholder: var(--readonly-placeholder-color-textarea),
      ),
    ),
  ),
  danger: (
    solid: (
      bg: var(--danger-bg-color-textarea-solid),
      placeholder: var(--danger-placeholder-color-textarea-solid),
      color: var(--danger-text-color-textarea-solid),
      hover: (
        shadow: 0 0 0 rem(4px) var(--danger-hover-shadow-textarea),
      ),
      disabled: (
        bg: var(--disabled-bg-color-textarea),
        color: var(--disabled-text-color-textarea),
        placeholder: var(--disabled-placeholder-color-textarea),
      ),
      readonly: (
        bg: var(--readonly-bg-color-textarea),
        color: var(--readonly-text-color-textarea),
        placeholder: var(--readonly-placeholder-color-textarea),
      ),
    ),
    outline: (
      bg: var(--danger-bg-color-textarea-outline),
      border: var(--danger-stroke-color-textarea-outline),
      placeholder: var(--danger-placeholder-color-textarea-outline),
      color: var(--danger-text-color-textarea-outline),
      hover: (
        shadow: 0 0 0 rem(4px) var(--danger-hover-shadow-textarea),
      ),
      disabled: (
        bg: var(--disabled-bg-color-textarea),
        color: var(--disabled-text-color-textarea),
        placeholder: var(--disabled-placeholder-color-textarea),
      ),
      readonly: (
        bg: var(--readonly-bg-color-textarea),
        color: var(--readonly-text-color-textarea),
        placeholder: var(--readonly-placeholder-color-textarea),
      ),
    ),
  ),
);

// textarea sizes
$textarea-sizes: (
  xs: (
    width: rem(360px),
  ),
  sm: (
    width: rem(460px),
  ),
  md: (
    width: rem(520px),
  ),
  lg: (
    width: rem(620px),
  ),
  xl: (
    width: 100%,
  ),
);

// mixin - textarea variant (color)
@mixin textarea-variant($variant) {
  &:global(.variant--#{$variant}) {
    @each $color-name, $props in $textarea-colors {
      $variant-props: map.get($props, $variant);
      $hover-props: map.get($variant-props, hover);
      $shadow-value: map.get($hover-props, shadow);

      @if $variant-props != null {
        &:global(.color--#{$color-name}) {
          &:not(:has(textarea:disabled, textarea:read-only)):hover {
            box-shadow: $shadow-value;
          }

          @if $variant == 'solid' {
            background-color: map.get($variant-props, bg);

            :global(textarea) {
              color: map.get($variant-props, color);
              border: none;

              &::placeholder {
                color: map.get($variant-props, placeholder);
              }
            }
          } @else if $variant == 'outline' {
            background-color: map.get($variant-props, bg);
            border: rem(1px) solid map.get($variant-props, border);

            :global(textarea) {
              color: map.get($variant-props, color);

              &::placeholder {
                color: map.get($variant-props, placeholder);
              }
            }
          }

          // 1. 오직 Disabled 일 때만 (Read-only는 제외)
          &:has(textarea:disabled) {
            cursor: not-allowed;
            background-color: var(--disabled-bg-color-textarea);
            border-color: var(--disabled-stroke-color-textarea);

            :global(textarea) {
              cursor: not-allowed;
              color: var(--disabled-text-color-textarea);
              &::placeholder {
                color: var(--disabled-placeholder-color-textarea);
              }
            }
          }

          // 2. 오직 Read-only 일 때만 (Disabled는 제외)
          &:has(textarea:read-only):not(:has(textarea:disabled)) {
            cursor: default;
            background-color: var(--readonly-bg-color-textarea);
            border-color: var(--readonly-stroke-color-textarea);

            :global(textarea) {
              cursor: text;
              color: var(--readonly-text-color-textarea);
              &::placeholder {
                color: var(--readonly-placeholder-color-textarea);
              }
            }
          }
        }
      }
    }
  }
}

// mixin - btn sizes
@mixin textarea-size() {
  @each $size-name, $props in $textarea-sizes {
    $width: map.get($props, width);

    &:global(.size--#{$size-name}) {
      width: $width;
    }
  }
}

.textarea {
  width: 100%;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  gap: rem(4px);
  padding: rem(10px) rem(14px);
  border-radius: var(--project-border-radius-8);
  transition: all 0.2s ease;

  &:has(textarea:focus-visible) {
    outline: 2.5px dashed var(--focus-ring-color) !important;
    outline-offset: 2px;
  }

  :global(textarea) {
    border: none;
    resize: none;
    width: 100%;
    height: 100%;
    outline: none !important;
    word-break: break-all;
    font: var(--project-typo-input-1-500);
    background-color: inherit;
  }

  // size
  @include textarea-size();
  @include textarea-variant(solid);
  @include textarea-variant(outline);
}

.textarea-counter {
  align-self: end;
  font: var(--project-typo-label-3-500);

  &:global(.is-max) {
    color: var(--danger-max-text-color-textarea);
  }
}
