/* Selectbox.module.scss */
@use 'sass:map';
@use 'sass:meta';
@use '../../../../styles/mixins' as *;

$selectbox-colors: (
  primary: (
    solid: (
      bg: #dceaff,
      color: #0a2540,
      placeholder: #8a9bb0,
      hover: (
        shadow: 0 0 0 rem(4px) var(--primary-hover-shadow-selectbox),
      ),
      disabled: (
        bg: var(--disabled-bg-color-selectbox),
        color: var(--disabled-text-color-selectbox),
      ),
      readonly: (
        bg: var(--readonly-bg-color-selectbox),
        color: var(--readonly-text-color-selectbox),
      ),
    ),
    outline: (
      bg: var(--primary-bg-color-selectbox-outline),
      border: var(--primary-stroke-color-selectbox-outline),
      color: var(--primary-text-color-selectbox-outline),
      placeholder: var(--primary-placeholder-color-selectbox-outline),
      hover: (
        shadow: 0 0 0 rem(4px) var(--primary-hover-shadow-selectbox),
      ),
      disabled: (
        bg: var(--disabled-bg-color-selectbox),
        border: var(--disabled-stroke-color-selectbox),
        color: var(--disabled-text-color-selectbox),
      ),
      readonly: (
        bg: var(--readonly-bg-color-selectbox),
        border: var(--readonly-stroke-color-selectbox),
        color: var(--readonly-text-color-selectbox),
      ),
    ),
  ),
  secondary: (
    solid: (
      bg: #d8edff,
      color: #173a57,
      placeholder: #95a7b8,
      hover: (
        shadow: 0 0 0 rem(4px) var(--secondary-hover-shadow-selectbox),
      ),
      disabled: (
        bg: var(--disabled-bg-color-selectbox),
        color: var(--disabled-text-color-selectbox),
      ),
      readonly: (
        bg: var(--readonly-bg-color-selectbox),
        color: var(--readonly-text-color-selectbox),
      ),
    ),
    outline: (
      bg: var(--secondary-bg-color-selectbox-outline),
      border: var(--secondary-stroke-color-selectbox-outline),
      color: var(--secondary-text-color-selectbox-outline),
      placeholder: var(--secondary-placeholder-color-selectbox-outline),
      hover: (
        shadow: 0 0 0 rem(4px) var(--secondary-hover-shadow-selectbox),
      ),
      disabled: (
        bg: var(--disabled-bg-color-selectbox),
        border: var(--disabled-stroke-color-selectbox),
        color: var(--disabled-text-color-selectbox),
      ),
      readonly: (
        bg: var(--readonly-bg-color-selectbox),
        border: var(--readonly-stroke-color-selectbox),
        color: var(--readonly-text-color-selectbox),
      ),
    ),
  ),
  tertiary: (
    solid: (
      bg: #e8e8e8,
      color: #1e1e1e,
      placeholder: #9a9a9a,
      hover: (
        shadow: 0 0 0 rem(4px) var(--tertiary-hover-shadow-selectbox),
      ),
      disabled: (
        bg: var(--disabled-bg-color-selectbox),
        color: var(--disabled-text-color-selectbox),
      ),
      readonly: (
        bg: var(--readonly-bg-color-selectbox),
        color: var(--readonly-text-color-selectbox),
      ),
    ),
    outline: (
      bg: var(--tertiary-bg-color-selectbox-outline),
      border: var(--tertiary-stroke-color-selectbox-outline),
      color: var(--tertiary-text-color-selectbox-outline),
      placeholder: var(--tertiary-placeholder-color-selectbox-outline),
      hover: (
        shadow: 0 0 0 rem(4px) var(--tertiary-hover-shadow-selectbox),
      ),
      disabled: (
        bg: var(--disabled-bg-color-selectbox),
        border: var(--disabled-stroke-color-selectbox),
        color: var(--disabled-text-color-selectbox),
      ),
      readonly: (
        bg: var(--readonly-bg-color-selectbox),
        border: var(--readonly-stroke-color-selectbox),
        color: var(--readonly-text-color-selectbox),
      ),
    ),
  ),
  success: (
    solid: (
      bg: #e2f5e9,
      placeholder: #a9c7b0,
      color: #2e5938,
      hover: (
        shadow: 0 0 0 rem(4px) var(--success-hover-shadow-selectbox),
      ),
      disabled: (
        bg: var(--disabled-bg-color-selectbox),
        color: var(--disabled-text-color-selectbox),
      ),
      readonly: (
        bg: var(--readonly-bg-color-selectbox),
        color: var(--readonly-text-color-selectbox),
      ),
    ),
    outline: (
      bg: var(--success-bg-color-selectbox-outline),
      border: var(--success-stroke-color-selectbox-outline),
      color: var(--success-text-color-selectbox-outline),
      placeholder: var(--success-placeholder-color-selectbox-outline),
      hover: (
        shadow: 0 0 0 rem(4px) var(--success-hover-shadow-selectbox),
      ),
      disabled: (
        bg: var(--disabled-bg-color-selectbox),
        border: var(--disabled-stroke-color-selectbox),
        color: var(--disabled-text-color-selectbox),
      ),
      readonly: (
        bg: var(--readonly-bg-color-selectbox),
        border: var(--readonly-stroke-color-selectbox),
        color: var(--readonly-text-color-selectbox),
      ),
    ),
  ),
  warning: (
    solid: (
      bg: #fff4d1,
      placeholder: #c7b98b,
      color: #5c4a00,
      hover: (
        shadow: 0 0 0 rem(4px) var(--warning-hover-shadow-selectbox),
      ),
      disabled: (
        bg: var(--disabled-bg-color-selectbox),
        color: var(--disabled-text-color-selectbox),
      ),
      readonly: (
        bg: var(--readonly-bg-color-selectbox),
        color: var(--readonly-text-color-selectbox),
      ),
    ),
    outline: (
      bg: var(--warning-bg-color-selectbox-outline),
      border: var(--warning-stroke-color-selectbox-outline),
      color: var(--warning-text-color-selectbox-outline),
      placeholder: var(--warning-placeholder-color-selectbox-outline),
      hover: (
        shadow: 0 0 0 rem(4px) var(--warning-hover-shadow-selectbox),
      ),
      disabled: (
        bg: var(--disabled-bg-color-selectbox),
        border: var(--disabled-stroke-color-selectbox),
        color: var(--disabled-text-color-selectbox),
      ),
      readonly: (
        bg: var(--readonly-bg-color-selectbox),
        border: var(--readonly-stroke-color-selectbox),
        color: var(--readonly-text-color-selectbox),
      ),
    ),
  ),
  danger: (
    solid: (
      bg: #ffe8e8,
      placeholder: #d3b1b1,
      color: #6f1a1a,
      hover: (
        shadow: 0 0 0 rem(4px) var(--danger-hover-shadow-selectbox),
      ),
      disabled: (
        bg: var(--disabled-bg-color-selectbox),
        color: var(--disabled-text-color-selectbox),
      ),
      readonly: (
        bg: var(--readonly-bg-color-selectbox),
        color: var(--readonly-text-color-selectbox),
      ),
    ),
    outline: (
      bg: var(--danger-bg-color-selectbox-outline),
      border: var(--danger-stroke-color-selectbox-outline),
      color: var(--danger-text-color-selectbox-outline),
      placeholder: var(--danger-placeholder-color-selectbox-outline),
      hover: (
        shadow: 0 0 0 rem(4px) var(--danger-hover-shadow-selectbox),
      ),
      disabled: (
        bg: var(--disabled-bg-color-selectbox),
        border: var(--disabled-stroke-color-selectbox),
        color: var(--disabled-text-color-selectbox),
      ),
      readonly: (
        bg: var(--readonly-bg-color-selectbox),
        border: var(--readonly-stroke-color-selectbox),
        color: var(--readonly-text-color-selectbox),
      ),
    ),
  ),
);

$selectbox-sizes: (
  xs: (
    width: rem(220px),
    height: rem(32px),
    padding: 0 0 0 rem(8px),
    font-token: var(--project-typo-input-3-500),
    radius: rem(var(--project-border-radius-4)),
    icon-size: rem(14px),
  ),
  sm: (
    width: rem(240px),
    height: rem(36px),
    padding: 0 0 0 rem(10px),
    font-token: var(--project-typo-input-2-500),
    radius: rem(var(--project-border-radius-6)),
    icon-size: rem(18px),
  ),
  md: (
    width: rem(260px),
    height: rem(40px),
    padding: 0 0 0 rem(12px),
    font-token: var(--project-typo-input-2-500),
    radius: rem(var(--project-border-radius-6)),
    icon-size: rem(20px),
  ),
  lg: (
    width: rem(280px),
    height: rem(44px),
    padding: 0 0 0 rem(14px),
    font-token: var(--project-typo-input-1-500),
    radius: rem(var(--project-border-radius-8)),
    icon-size: rem(22px),
  ),
  xl: (
    width: rem(300px),
    height: rem(48px),
    padding: 0 0 00 rem(16px),
    font-token: var(--project-typo-input-1-500),
    radius: rem(var(--project-border-radius-8)),
    icon-size: rem(24px),
  ),
);

// mixin - input variant [color + vairant]
@mixin selectbox-variant($variant) {
  &:global(.variant--#{$variant}) {
    @each $color-name, $props in $selectbox-colors {
      $variant-props: map.get($props, $variant);

      @if $variant-props != null {
        &:global(.color--#{$color-name}) {
          // hover
          select:not(:disabled) {
            &:not(:disabled) ~ :not(:global(.custom-select[aria-readonly='true'])):hover {
              $hover-props: map.get($variant-props, hover);
              box-shadow: map.get($hover-props, shadow);
            }
          }

          // disabled
          select:disabled {
            &:disabled ~ :global(.custom-select) {
              $disabled-props: map.get($variant-props, disabled);
              background-color: map.get($disabled-props, bg);
              cursor: not-allowed;

              :global(.custom-select-text),
              :global(.icon) {
                color: map.get($disabled-props, color);
              }
            }
          }

          @if $variant == 'solid' {
            &:global(.variant--#{$variant}) {
              :global(.custom-select) {
                background-color: map.get($variant-props, bg);

                :global(.custom-select-text) {
                  color: map.get($variant-props, color);
                }

                :global(.icon) {
                  color: map.get($variant-props, color);
                  fill: none;
                }
              }
            }
          } @else if $variant == 'outline' {
            &:global(.variant--outline) {
              // readonly
              :global(.custom-select[aria-readonly='true']) {
                $readonly-props: map.get($variant-props, readonly);
                border: rem(1px) solid map.get($readonly-props, border);

                :global(.custom-select-text),
                :global(.icon) {
                  color: map.get($readonly-props, color);
                }
              }

              // readonly
              :global(.custom-select[aria-readonly='true']) {
                $readonly-props: map.get($variant-props, readonly);
                background-color: map.get($readonly-props, bg);
              }

              // disabled
              select:disabled {
                &:disabled ~ :global(.custom-select) {
                  $disabled-props: map.get($variant-props, disabled);
                  border: rem(1px) solid map.get($disabled-props, border);
                }
              }

              :global(.custom-select) {
                background-color: map.get($variant-props, bg);
                border: rem(1px) solid map.get($variant-props, border);

                :global(.custom-select-text) {
                  color: map.get($variant-props, color);
                }

                :global(.icon) {
                  color: map.get($variant-props, color);
                  fill: none;
                }
              }
            }
          }
        }
      }
    }
  }
}

.selectbox {
  display: inline-flex;
  align-items: center;
  position: relative;

  select {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
  }

  // variant
  @include selectbox-variant(solid);
  @include selectbox-variant(outline);

  // size
  @each $size-name, $props in $selectbox-sizes {
    $adorned-start-map: map.get($props, adorned-start);
    $adorned-end-map: map.get($props, adorned-end);

    &:global(.size--#{$size-name}) {
      :global(.custom-select) {
        width: map.get($props, width);
        height: map.get($props, height);
        padding: map.get($props, padding);
        border-radius: map.get($props, radius);
        display: inline-flex;
        align-items: center;
        cursor: pointer;
        transition: all 0.2s ease;

        :global(.custom-select-text) {
          font: map.get($props, font-token);
          flex: 1 1 auto;

          @include ell();
        }

        :global(.adorned-end) {
          flex: 0 0 auto;
          border-top-left-radius: 0px !important;
          border-bottom-left-radius: 0px !important;
        }

        :global(.icon) {
          width: map.get($props, icon-size);
          height: map.get($props, icon-size);
          flex: 0 0 auto;
        }
      }
    }
  }
}
