/* Gmarket Sans */
@font-face {
  font-family: 'Gmarket Sans';
  src: url('../../../../assets/fonts/display/GmarketSans/GmarketSans-300.woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gmarket Sans';
  src: url('../../../../assets/fonts/display/GmarketSans/GmarketSans-500.woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gmarket Sans';
  src: url('../../../../assets/fonts/display/GmarketSans/GmarketSans-700.woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
