/* Nanum Square Neo */
@font-face {
  font-family: 'NanumSquareNeo Variable';
  src: url('../../../../assets/fonts/display/NanumSquareNeo/variable/woff2/NanumSquareNeo-Variable.woff2')
    format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
