/* NanumGothic */
@font-face {
  font-family: 'NanumGothic';
  src: url('../../../../assets/fonts/text/NanumGothic/NanumGothic-400.woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NanumGothic';
  src: url('../../../../assets/fonts/text/NanumGothic/NanumGothic-700.woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NanumGothic';
  src: url('../../../../assets/fonts/text/NanumGothic/NanumGothic-800.woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
