/* Noto Sans JP */
@font-face {
  font-family: 'Noto Sans JP';
  src: url('../../../../assets/fonts/text/Noto_Sans_JP/NotoSansJP-400.woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans JP';
  src: url('../../../../assets/fonts/text/Noto_Sans_JP/NotoSansJP-500.woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans JP';
  src: url('../../../../assets/fonts/text/Noto_Sans_JP/NotoSansJP-600.woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans JP';
  src: url('../../../../assets/fonts/text/Noto_Sans_JP/NotoSansJP-700.woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans JP';
  src: url('../../../../assets/fonts/text/Noto_Sans_JP/NotoSansJP-800.woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
