/* Noto Sans KR */
@font-face {
  font-family: 'Noto Sans KR';
  src: url('../../../../assets/fonts/text/Noto_Sans_KR/NotoSansKR-400.woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('../../../../assets/fonts/text/Noto_Sans_KR/NotoSansKR-500.woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('../../../../assets/fonts/text/Noto_Sans_KR/NotoSansKR-600.woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('../../../../assets/fonts/text/Noto_Sans_KR/NotoSansKR-700.woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('../../../../assets/fonts/text/Noto_Sans_KR/NotoSansKR-800.woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
