/* Pretendard KR */
@font-face {
  font-family: 'Pretendard KR';
  src: url('../../../../assets/fonts/text/Pretendard_KR/1.3.9/variable/woff2/Pretendard-Variable.woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
