/* Pretendard JP */
@font-face {
  font-family: 'Pretendard JP';
  src: url('../../../../assets/fonts/text/Pretendard_JP/1.3.9/variable/woff2/PretendardJP-Variable.woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
