/* Pretendard GOV */
@font-face {
  font-family: 'Pretendard GOV Variable';
  src: url('../../../../assets/fonts/text/Pretendard_GOV/1.3.9/variable/woff2/PretendardGOV-Variable.woff2')
    format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
