/* SpoqaHanSans JP */
@font-face {
  font-family: 'SpoqaHanSans JP';
  src: url('../../../../assets/fonts/text/SpoqaHanSans_JP/3.3.0/subset/SpoqaHanSansJP-100.woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SpoqaHanSans JP';
  src: url('../../../../assets/fonts/text/SpoqaHanSans_JP/3.3.0/subset/SpoqaHanSansJP-300.woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SpoqaHanSans JP';
  src: url('../../../../assets/fonts/text/SpoqaHanSans_JP/3.3.0/subset/SpoqaHanSansJP-400.woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SpoqaHanSans JP';
  src: url('../../../../assets/fonts/text/SpoqaHanSans_JP/3.3.0/subset/SpoqaHanSansJP-700.woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
