/* SpoqaHanSans KR */
@font-face {
  font-family: 'SpoqaHanSans KR';
  src: url('../../../../assets/fonts/text/SpoqaHanSans_KR/3.3.0/subset/SpoqaHanSansKR-100.woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SpoqaHanSans KR';
  src: url('../../../../assets/fonts/text/SpoqaHanSans_KR/3.3.0/subset/SpoqaHanSansKR-300.woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SpoqaHanSans KR';
  src: url('../../../../assets/fonts/text/SpoqaHanSans_KR/3.3.0/subset/SpoqaHanSansKR-400.woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SpoqaHanSans KR';
  src: url('../../../../assets/fonts/text/SpoqaHanSans_KR/3.3.0/subset/SpoqaHanSansKR-700.woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
