// /* TokenTable.module.scss */
@use 'sass:map';
@use 'sass:meta';
@use '../../../styles/mixins' as *;

.token-table {
  :global {
    .token-table__title {
      display: flex;
      align-items: center;
      gap: rem(10px);
      margin-bottom: rem(10px);

      h3 {
        font: var(--project-typo-heading-3-700);
      }
    }

    .token-table__copy-btn {
      code {
        transition: all 0.2s ease;
      }
      &:hover {
        code {
          background-color: var(--project-color-docs-code-hover-bg);
          color: var(--project-color-docs-code-hover-text);
        }
      }
    }

    .token-table__spec-column {
      display: flex;
      flex-direction: column;
      gap: rem(4px);

      :global {
        .token-table__spec-details {
          font-size: 12px;
          color: var(--color-text-subtle);

          :global {
            .token-table__weights {
              margin: 0 rem(4px);
              font-weight: 700;
              display: inline-block;
            }
          }
        }
      }
    }

    .token-table__description {
      strong {
        display: block;
        margin-bottom: rem(4px);
        font-size: 14px;
        color: var(--color-text-default);
      }
      p {
        font-size: 13px;
        line-height: 1.4;
        color: var(--color-text-default);
      }
    }
  }
}
