/* Switch.module.scss */
@use 'sass:map';
@use 'sass:meta';
@use '../../../../styles/mixins' as *;

// switch colors
$switch-colors: (
  primary: (
    track-on-bg: var(--project-color-primary-switch-track-on-bg),
    handle-on-bg: var(--project-color-primary-switch-handle-on-bg),
    handle-on-border: var(--project-color-primary-switch-handle-on-border),
    icon-on-color: var(--project-color-primary-switch-icon-on-fill),
    hover: (
      shadow: 0 0 0 rem(4px) var(--project-color-primary-switch-shadow-hover),
    ),
    active: (
      shadow: 0 0 0 rem(6px) var(--project-color-primary-switch-shadow-active),
    ),
  ),
  secondary: (
    track-on-bg: var(--project-color-secondary-switch-track-on-bg),
    handle-on-bg: var(--project-color-secondary-switch-handle-on-bg),
    handle-on-border: var(--project-color-secondary-switch-handle-on-border),
    icon-on-color: var(--project-color-secondary-switch-icon-on-fill),
    hover: (
      shadow: 0 0 0 rem(4px) var(--project-color-secondary-switch-shadow-hover),
    ),
    active: (
      shadow: 0 0 0 rem(6px) var(--project-color-secondary-switch-shadow-active),
    ),
  ),
  tertiary: (
    track-on-bg: var(--project-color-tertiary-switch-track-on-bg),
    handle-on-bg: var(--project-color-tertiary-switch-handle-on-bg),
    handle-on-border: var(--project-color-tertiary-switch-handle-on-border),
    icon-on-color: var(--project-color-tertiary-switch-icon-on-fill),
    hover: (
      shadow: 0 0 0 rem(4px) var(--project-color-tertiary-switch-shadow-hover),
    ),
    active: (
      shadow: 0 0 0 rem(6px) var(--project-color-tertiary-switch-shadow-active),
    ),
  ),
);

// switch size map
$switch-sizes: (
  xs: (
    gap: rem(12px),
    track-width: rem(28px),
    track-height: rem(16px),
    track-radius: rem(var(--project-border-radius-8)),
    handle-size: rem(16px),
    handle-radius: rem(var(--project-border-radius-8)),
    icon-size: rem(8px),
  ),
  sm: (
    gap: rem(14px),
    track-width: rem(32px),
    track-height: rem(20px),
    track-radius: rem(var(--project-border-radius-10)),
    handle-size: rem(20px),
    handle-radius: rem(var(--project-border-radius-10)),
    icon-size: rem(10px),
  ),
  md: (
    gap: rem(16px),
    track-width: rem(40px),
    track-height: rem(24px),
    track-radius: rem(var(--project-border-radius-12)),
    handle-size: rem(24px),
    handle-radius: rem(var(--project-border-radius-12)),
    icon-size: rem(12px),
  ),
  lg: (
    gap: rem(18px),
    track-width: rem(48px),
    track-height: rem(28px),
    track-radius: rem(var(--project-border-radius-14)),
    handle-size: rem(28px),
    handle-radius: rem(var(--project-border-radius-14)),
    icon-size: rem(14px),
  ),
  xl: (
    gap: rem(20px),
    track-width: rem(56px),
    track-height: rem(32px),
    track-radius: rem(var(--project-border-radius-16)),
    handle-size: rem(32px),
    handle-radius: rem(var(--project-border-radius-16)),
    icon-size: rem(16px),
  ),
);

.switch {
  display: inline-flex;
  cursor: pointer;

  @each $color-name, $props in $switch-colors {
    $props: map.get($switch-colors, $color-name);
    $hover-map: map.get($props, hover);
    $active-map: map.get($props, active);

    // shadow
    $hover-shadow: map.get($hover-map, shadow);
    $active-shadow: map.get($active-map, shadow);

    &:global(.color--#{$color-name}) {
      transition: all 0.2s ease;

      :global(input[type='checkbox']:checked ~ .label) {
        :global(.track) {
          background-color: map.get($props, track-on-bg);

          :global(.handle) {
            border-color: map.get($props, handle-on-border);
            color: map.get($props, icon-on-color);
            background-color: map.get($props, handle-on-bg);
          }
        }
      }

      :global(input[type='checkbox']:disabled ~ .label) {
        cursor: not-allowed;

        :global(.track) {
          background-color: var(--project-color-switch-disabled-track-on-bg);

          :global(.handle) {
            border-color: var(--project-color-switch-disabled-handle-on-border);
            color: var(--project-color-switch-disabled-icon-on-fill);
            background-color: var(--project-color-switch-disabled-handle-on-bg);
          }
        }
      }

      &:not(:has(input:disabled)):hover {
        box-shadow: $hover-shadow;
      }

      &:not(:has(input:disabled)):active {
        box-shadow: $active-shadow;
      }
    }
  }

  @each $size-name, $props in $switch-sizes {
    &:global(.size--#{$size-name}) {
      border-radius: map.get($props, track-radius);

      :global(input[type='checkbox']:checked ~ .label) {
        :global(.track) {
          :global(.handle) {
            left: calc(100% - map.get($props, handle-size));
          }
        }
      }

      :global(.label) {
        :global(.track) {
          width: map.get($props, track-width);
          height: map.get($props, track-height);
          border-radius: map.get($props, track-radius);

          :global(.handle) {
            width: map.get($props, handle-size);
            height: map.get($props, handle-size);
            border-radius: map.get($props, handle-radius);

            :global(.icon) {
              width: map.get($props, icon-size);
              height: map.get($props, icon-size);
            }
          }
        }
      }
    }
  }

  :global(input[type='checkbox']) {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
  }

  :global(.label) {
    display: inline-flex;

    align-items: center;
    gap: rem(8px);

    &:global(.is-start) {
      flex-direction: row-reverse;
    }

    &:global(.is-end) {
      flex-direction: row;
    }

    :global(.track) {
      position: relative;
      background-color: #6d7882;

      :global(.handle) {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border: rem(2px) solid;
        border-radius: var(--project-border-radius-max);
        border-color: #6d7882;
        background-color: #ffffff;
        color: #6d7882;

        transition:
          left 0.25s ease,
          right 0.25s ease,
          border-color 0.25s ease,
          color 0.25s ease,
          background-color 0.25s ease;

        :global(.icon) {
          fill: none;
        }
      }
    }
  }
}
