/* JetBrainsMono */
@font-face {
  font-family: 'JetBrains Mono';
  src: url('../../../../assets/fonts/code/JetBrainsMono/2.304/JetBrainsMono-Regular.woff2')
    format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
