/* Pagination.module.scss */
@use 'sass:map';
@use 'sass:meta';
@use '../../../../styles/mixins' as *;

$pagination-sizes: (
  sm: (
    pagination-gap: rem(18px),
    btn-group-gap: rem(8px),
    page-list-gap: rem(6px),
    btn-size: rem(36px),
    btn-padding: 0 rem(12px),
    mobile-font: var(--project-typo-pagination-3-600),
  ),
  md: (
    pagination-gap: rem(18px),
    btn-group-gap: rem(8px),
    page-list-gap: rem(6px),
    btn-size: rem(40px),
    btn-padding: 0 rem(15px),
    mobile-font: var(--project-typo-pagination-2-600),
  ),
  lg: (
    pagination-gap: rem(18px),
    btn-group-gap: rem(8px),
    page-list-gap: rem(6px),
    btn-size: rem(44px),
    btn-padding: 0 rem(16px),
    mobile-font: var(--project-typo-pagination-1-600),
  ),
);

$pagination-colors: (
  primary: (
    current-page-label: var(--primary-current-page-text-color),
  ),
  secondary: (
    current-page-label: var(--secondary-current-page-text-color),
  ),
  tertiary: (
    current-page-label: var(--tertiary-current-page-text-color),
  ),
);

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;

  @each $size-name, $props in $pagination-sizes {
    @include global-mod('size--#{$size-name}') {
      gap: map.get($props, pagination-gap);

      :global {
        .pagination__btn-group {
          gap: map.get($props, btn-group-gap);
        }

        .pagination__page-list {
          gap: map.get($props, page-list-gap);

          button {
            min-width: map.get($props, btn-size);
            min-height: map.get($props, btn-size);
            padding: map.get($props, btn-padding);
            width: max-content;
            height: initial;
          }
        }

        .pagination__mobile-info {
          display: flex;
          align-items: center;
          width: max-content;
          gap: rem(4px);
        }

        .pagination__mobile-info-current,
        .pagination__mobile-info-total {
          font: map.get($props, mobile-font);
        }
      }
    }
  }

  @each $color-name, $props in $pagination-colors {
    @include global-mod('color--#{$color-name}') {
      :global {
        .pagination__mobile-info-current {
          color: map.get($props, current-page-label);
        }
      }
    }
  }

  :global {
    .pagination__btn-group {
      display: flex;
    }

    .pagination__page-list {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;
    }
  }
}
