/* Searchbar.module.scss */
@use 'sass:map';
@use 'sass:meta';
@use '../../../../styles/mixins' as *;

$searchbar-colors: (
  primary: (
    solid: (
      bg: #dceaff,
      color: #0a2540,
      placeholder: #8a9bb0,
      hover: (
        shadow: 0 0 0 rem(4px) var(--primary-hover-shadow-searchbar),
      ),
    ),
    outline: (
      bg: var(--project-color-primary-combobox-outline-bg),
      border: var(--project-color-primary-combobox-outline-border),
      color: var(--project-color-primary-combobox-outline-text),
      placeholder: var(--project-color-primary-combobox-outline-placeholder),
      hover: (
        shadow: 0 0 0 rem(4px) var(--project-color-primary-combobox-shadow-bg),
      ),
    ),
  ),
  secondary: (
    solid: (
      bg: #d8edff,
      color: #173a57,
      placeholder: #95a7b8,
      hover: (
        shadow: 0 0 0 rem(4px) var(--primary-hover-shadow-searchbar),
      ),
    ),
    outline: (
      bg: var(--project-color-secondary-combobox-outline-bg),
      border: var(--project-color-secondary-combobox-outline-border),
      color: var(--project-color-secondary-combobox-outline-text),
      placeholder: var(--project-color-secondary-combobox-outline-placeholder),
      hover: (
        shadow: 0 0 0 rem(4px) var(--project-color-secondary-combobox-shadow-bg),
      ),
    ),
  ),
  tertiary: (
    solid: (
      bg: #e8e8e8,
      color: #1e1e1e,
      placeholder: #9a9a9a,
      hover: (
        shadow: 0 0 0 rem(4px) var(--primary-hover-shadow-searchbar),
      ),
    ),
    outline: (
      bg: var(--project-color-tertiary-combobox-outline-bg),
      border: var(--project-color-tertiary-combobox-outline-border),
      color: var(--project-color-tertiary-combobox-outline-text),
      placeholder: var(--project-color-tertiary-combobox-outline-placeholder),
      hover: (
        shadow: 0 0 0 rem(4px) var(--project-color-tertiary-combobox-shadow-bg),
      ),
    ),
  ),
  success: (
    solid: (
      bg: #e2f5e9,
      placeholder: #a9c7b0,
      color: #2e5938,
      hover: (
        shadow: 0 0 0 rem(4px) var(--primary-hover-shadow-searchbar),
      ),
    ),
    outline: (
      bg: var(--project-color-combobox-outline-success-bg),
      border: var(--project-color-combobox-outline-success-border),
      color: var(--project-color-combobox-outline-success-text),
      placeholder: var(--project-color-combobox-outline-success-placeholder),
      hover: (
        shadow: 0 0 0 rem(4px) var(--project-color-combobox-success-shadow-hover),
      ),
    ),
  ),
  warning: (
    solid: (
      bg: #fff4d1,
      placeholder: #c7b98b,
      color: #5c4a00,
      hover: (
        shadow: 0 0 0 rem(4px) var(--primary-hover-shadow-searchbar),
      ),
    ),
    outline: (
      bg: var(--project-color-combobox-outline-warning-bg),
      border: var(--project-color-combobox-outline-warning-border),
      color: var(--project-color-combobox-outline-warning-text),
      placeholder: var(--project-color-combobox-outline-warning-placeholder),
      hover: (
        shadow: 0 0 0 rem(4px) var(--project-color-combobox-warning-shadow-hover),
      ),
    ),
  ),
  danger: (
    solid: (
      bg: #ffe8e8,
      placeholder: #d3b1b1,
      color: #6f1a1a,
      hover: (
        shadow: 0 0 0 rem(4px) var(--primary-hover-shadow-searchbar),
      ),
    ),
    outline: (
      bg: var(--project-color-combobox-outline-danger-bg),
      border: var(--project-color-combobox-outline-danger-border),
      color: var(--project-color-combobox-outline-danger-text),
      placeholder: var(--project-color-combobox-outline-danger-placeholder),
      hover: (
        shadow: 0 0 0 rem(4px) var(--project-color-combobox-danger-shadow-hover),
      ),
    ),
  ),
);

$searchbar-sizes: (
  xs: (
    width: rem(220px),
    height: rem(32px),
    padding: 0 0 0 rem(14px),
    font-token: var(--project-typo-input-3-500),
    radius: rem(var(--project-border-radius-4)),
    icon-size: rem(14px),
  ),
  sm: (
    width: rem(240px),
    height: rem(36px),
    padding: 0 0 0 rem(20px),
    font-token: var(--project-typo-input-2-500),
    radius: rem(var(--project-border-radius-6)),
    icon-size: rem(18px),
  ),
  md: (
    width: rem(260px),
    height: rem(40px),
    padding: 0 0 0 rem(20px),
    font-token: var(--project-typo-input-2-500),
    radius: rem(var(--project-border-radius-6)),
    icon-size: rem(20px),
  ),
  lg: (
    width: rem(280px),
    height: rem(44px),
    padding: 0 0 0 rem(20px),
    font-token: var(--project-typo-input-1-500),
    radius: rem(var(--project-border-radius-8)),
    icon-size: rem(22px),
  ),
  xl: (
    width: rem(300px),
    height: rem(48px),
    padding: 0 0 0 rem(20px),
    font-token: var(--project-typo-input-1-500),
    radius: rem(var(--project-border-radius-8)),
    icon-size: rem(24px),
  ),
);

// mixin - input variant [color + vairant]
@mixin searchbar-variant($variant) {
  &:global(.variant--#{$variant}) {
    @each $color-name, $props in $searchbar-colors {
      $variant-props: map.get($props, $variant);
      $hover-props: map.get($variant-props, hover);
      $shadow-value: map.get($hover-props, shadow);

      @if $variant-props != null {
        &:global(.color--#{$color-name}) {
          :global(.custom-input:not(:has(input:disabled, input:read-only))):hover {
            box-shadow: $shadow-value;
          }

          @if $variant == 'outline' {
            &:global(.variant--outline) {
              input:disabled {
                &:disabled ~ :global(.custom-input) {
                  border: rem(1px) solid #c0c4cc !important;
                }
              }

              :global(.custom-input) {
                background-color: map.get($variant-props, bg);
                border: rem(1px) solid map.get($variant-props, border);

                :global(input) {
                  color: map.get($variant-props, color);
                }
              }
            }
          }
        }
      }
    }
  }
}

.searchbar {
  display: inline-flex;
  align-items: center;
  position: relative;

  :global(input[type='search']) {
    -webkit-appearance: textfield;
    background-color: inherit;

    &::-webkit-search-cancel-button,
    &::-webkit-search-decoration {
      -webkit-appearance: none;
      display: none;
    }
  }

  // variant
  @include searchbar-variant(solid);
  @include searchbar-variant(outline);

  // size, shape
  @each $size-name, $props in $searchbar-sizes {
    $adorned-start-map: map.get($props, adorned-start);
    $adorned-end-map: map.get($props, adorned-end);

    &:global(.size--#{$size-name}) {
      &:global(.shape--square) {
        :global(.custom-input) {
          border-radius: 0;
        }
      }

      &:global(.shape--rounded) {
        :global(.custom-input) {
          border-radius: map.get($props, radius);
        }
      }

      &:global(.shape--pill) {
        :global(.custom-input) {
          border-radius: var(--project-border-radius-max);
        }
      }

      :global(.custom-input) {
        width: map.get($props, width);
        height: map.get($props, height);
        padding: map.get($props, padding);
        border-radius: map.get($props, radius);
        display: inline-flex;
        align-items: center;
        cursor: pointer;
        transition: all 0.2s ease;

        &:has(button.variant--solid) {
          gap: rem(10px);

          :global(.variant-solid) {
            margin-right: rem(-1px);
          }
        }

        :global(input) {
          font: map.get($props, font-token);
          height: 100%;
          border: none;
          flex: 1 1 auto;
          @include ell();
        }

        :global(button) {
          cursor: pointer;

          &:global(.delete-btn) {
            width: rem(26px);
            height: rem(26px);
            border-radius: var(--project-border-radius-max);

            :global(svg) {
              width: rem(16px);
              height: rem(16px);
            }
          }

          :global(svg) {
            fill: none;
          }
        }

        :global(.submit-btn.adorned-end) {
          flex: 0 0 auto;
          border-top-left-radius: 0px !important;
          border-bottom-left-radius: 0px !important;
        }

        :global(.icon) {
          width: map.get($props, icon-size);
          height: map.get($props, icon-size);
          flex: 0 0 auto;
        }
      }
    }
  }
}
