/* Searchbar.module.scss */
@use 'sass:map';
@use 'sass:meta';
@use '../../../../styles/mixins' as *;

.searchbar {
  border: 1px solid red;

  :global(input[type='search']) {
    -webkit-appearance: textfield;

    &::-webkit-search-cancel-button,
    &::-webkit-search-decoration {
      -webkit-appearance: none;
      display: none;
    }
  }
}
