/* Code.module.scss */
@use 'sass:map';
@use 'sass:meta';
@use '../../../../styles/mixins' as *;

.code {
  background-color: var(--bg-color-code);
  color: var(--text-color-code);
  padding: rem(4px) rem(8px);
  border-radius: var(--project-border-radius-4);
  font: var(--project-typo-Code-400);
}
