/* OptionList.module.scss */
@use 'sass:map';
@use 'sass:meta';
@use '../../../../styles/mixins' as *;

// option-list color
$option-list-colors: (
  primary: (
    solid: (
      bg: var(--primary-bg-color-option-list-solid),
    ),
    outline: (
      bg: var(--project-color-primary-option-list-outline-bg),
      border: var(--project-color-primary-option-list-outline-border),
    ),
  ),
  secondary: (
    solid: (
      bg: var(--secondary-bg-color-option-list-solid),
    ),
    outline: (
      bg: var(--project-color-secondary-option-list-outline-bg),
      border: var(--project-color-secondary-option-list-outline-border),
    ),
  ),
  tertiary: (
    solid: (
      bg: var(--tertiary-bg-color-option-list-solid),
    ),
    outline: (
      bg: var(--project-color-tertiary-option-list-outline-bg),
      border: var(--project-color-tertiary-option-list-outline-border),
    ),
  ),
  success: (
    solid: (
      bg: var(--success-bg-color-option-list-solid),
    ),
    outline: (
      bg: var(--project-color-option-list-outline-success-bg),
      border: var(--project-color-option-list-outline-success-border),
    ),
  ),
  warning: (
    solid: (
      bg: var(--warning-bg-color-option-list-solid),
    ),
    outline: (
      bg: var(--project-color-option-list-outline-warning-bg),
      border: var(--project-color-option-list-outline-warning-border),
    ),
  ),
  danger: (
    solid: (
      bg: var(--danger-bg-color-option-list-solid),
    ),
    outline: (
      bg: var(--project-color-option-list-outline-danger-bg),
      border: var(--project-color-option-list-outline-danger-border),
    ),
  ),
);

// mixin - option-list variant [color + variant]
@mixin option-list-variant($variant) {
  &:global(.variant--#{$variant}) {
    @each $name, $props in $option-list-colors {
      $variant-props: map.get($props, $variant);

      @if $variant-props != null {
        &:global(.color--#{$name}) {
          // variant
          @if $variant == 'outline' {
            &:global(.variant--#{$variant}) {
              background-color: map.get($variant-props, bg);
              border: rem(1px) solid map.get($variant-props, border);
            }
          }
        }
      }
    }
  }
}

.option-list {
  width: rem(104px);
  padding: rem(6px) rem(6px);
  border-radius: rem(8px);
  filter: drop-shadow(0 rem(5px) rem(10px) rgba(0, 0, 0, 0.1));

  // listbox
  :global([role='listbox']) {
    display: flex;
    flex-direction: column;
    gap: rem(10px);
    max-height: rem(240px);
    overflow: auto;
    margin-right: rem(-6px);
    padding-right: rem(6px);
  }

  // variant
  @include option-list-variant(solid);
  @include option-list-variant(soft);
  @include option-list-variant(outline);
}
