/* Calendar.module.scss */
@use 'sass:map';
@use 'sass:meta';
@use '../../../../styles/mixins' as *;

$calendar-colors: (
  primary: (
    outline: (
      border: var(--project-color-primary-calendar-panel-border),
      day-text: var(--project-color-primary-calendar-day-text),
      selected-bg: var(--project-color-primary-calendar-date-bg-selected),
      selected-text: var(--project-color-primary-calendar-date-text-selected),
    ),
  ),
  secondary: (
    outline: (
      border: var(--project-color-secondary-calendar-panel-border),
      day-text: var(--project-color-secondary-calendar-day-text),
      selected-bg: var(--project-color-secondary-calendar-date-bg-selected),
      selected-text: var(--project-color-secondary-calendar-date-text-selected),
    ),
  ),
  tertiary: (
    outline: (
      border: var(--project-color-tertiary-calendar-panel-border),
      day-text: var(--project-color-tertiary-calendar-day-text),
      selected-bg: var(--project-color-tertiary-calendar-date-bg-selected),
      selected-text: var(--project-color-tertiary-calendar-date-text-selected),
    ),
  ),
);

.calendar {
  @each $name, $props in $calendar-colors {
    &:global(.color--#{$name}) {
      :global(.calendar-wrap) {
        $outline-map: map.get($props, outline);

        background-color: var(--project-color-calendar-bg);
        border: rem(1px) solid map.get($outline-map, border);
        filter: drop-shadow(0 0.375rem 0.75rem var(--project-color-calendar-shadow-bg));
        color: var(--date-text-color-calendar);

        :global(.calendar-body) {
          :global(.calendar-table-wrap) {
            :global(.calendar-table) {
              thead {
                tr {
                  th {
                    color: map.get($outline-map, 'day-text');
                  }
                }
              }

              tbody {
                tr {
                  td {
                    &:global(.old) {
                      :global(.btn-set-date) {
                        color: var(--project-color-calendar-old-date-text);
                        font-weight: var(--project-font-weight-400);
                      }
                    }

                    &:global(.today) {
                      :global(.btn-set-date) {
                        background-color: var(--project-color-calendar-today-date-bg);
                        color: var(--project-color-calendar-today-date-text);
                      }
                    }

                    &:global(.selected) {
                      :global(.btn-set-date) {
                        background-color: map.get($outline-map, selected-bg);
                        color: map.get($outline-map, selected-text);
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  :global(.calendar-wrap) {
    width: max-content;
    overflow: hidden;
    border-radius: var(--project-border-radius-12);

    :global(.calendar-head) {
      display: flex;
      gap: rem(8px);
      padding: rem(16px) rem(16px) rem(24px);

      :global(button) {
        flex-shrink: 0;
      }

      :global(.calendar-switch-wrap) {
        flex: 1 1 auto;
        display: flex;
        justify-content: center;
        gap: rem(8px);
      }
    }

    :global(.calendar-body) {
      :global(.calendar-table-wrap) {
        padding: 0 rem(16px);

        :global(.calendar-table) {
          position: relative;

          thead {
            tr {
              th {
                padding-bottom: rem(16px);
                font: var(--project-typo-calendar-1-600);
              }
            }
          }

          tbody {
            tr {
              td {
                width: calc(100% / 7);

                :global(button) {
                  width: rem(44px);
                  height: rem(44px);
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  flex-direction: column;
                  margin-inline: auto;
                  border-radius: var(--project-border-radius-max);
                  font: var(--project-typo-calendar-1-600);

                  :global(.mark) {
                    display: inline-block;
                    width: rem(6px);
                    height: rem(6px);
                    border-radius: var(--project-border-radius-max);
                    background-color: var(--project-color-calendar-holiday-dot);
                    position: relative;

                    &:global(.is-active) {
                      &::after {
                        opacity: 1;
                        transform: translate(-50%, -50%) scale(1);
                      }
                    }

                    &::after {
                      content: attr(data-label);
                      position: absolute;
                      top: rem(-30px);
                      left: 50%;

                      transform: translate(-50%, -50%) scale(0.6);
                      transform-origin: center center;

                      background-color: var(--project-color-calendar-holiday-tooltip-bg);
                      color: var(--project-color-calendar-holiday-tooltip-text);
                      padding: rem(3px) rem(6px);
                      border-radius: var(--project-border-radius-4);
                      width: max-content;

                      opacity: 0;
                      transition:
                        opacity 0.15s ease-out,
                        transform 0.15s ease-out;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    :global(.calendar-footer) {
      :global(.calendar-btn-wrap) {
        width: 100%;
        padding: rem(16px) rem(16px);
      }
    }
  }
}
