/* Spinner.module.scss */
@use 'sass:map';
@use '../../../../styles/mixins' as *;

// 인접 배경과 경로 간 명도대비, 경로와 식별자 간 명도대비를 3:1 이상으로 표현한다.
// 시력이 좋지 않은 사용자도 스피너의 출현 여부와 진행 상태를 인지할 수 있도록 인접 배경과 경로 간 명도대비, 경로와 식별자 간 명도대비를 3:1 이상으로 제공
// 스피너 상태에 대한 설명을 스크린 리더에서 확인할 수 있도록 한다.
// 스크린 리더 사용자가 스피너를 통해 제공되는 페이지 로딩 상태 정보를 확인할 수 있도록 스피너가 제공되기 시작했을 때와 로딩이 완료되었을 때의 상태 정보를 제공해야 한다.
// 페이지의 핵심 정보에 대한 음성 안내 방해를 최소화하도록 aria-live 속성값은 assertive가 아닌 polite를 사용해야 한다.

// 확정 스피너
// 식별자가 도넛형 경로의 0도에서부터 360도까지 채워지면서 진행 정도를 표시한다. 식별자가 채워진 정도는 실제 진행률을 반영해야 하며, 360도 전체가 채워지면 스피너를 숨기고 페이지를 표시한다. 식별자는 0도에서 운동을 시작하여 시계 방향으로 경로를 채운다.

// 불확정 스피너
// 식별자가 도넛형 경로의 0도에서부터 360도를 따라 회전하면서 대기 상태에 있음을 표시한다. 페이지가 표시되기 전까지 식별자의 회전 운동은 반복되어야 한다. 식별자는 0도에서 운동을 시작하여 시계 방향으로 회전한다.

// Spinner Colors
$spinner-colors: (
  primary: (),
  secondary: (),
  tertiary: (),
  brand: (),
  'brand-sub': (),
  success: (),
  warning: (),
  danger: (),
);

// Spinner Size
$spinner-sizes: (
  xs: (),
  sm: (),
  md: (),
  lg: (),
  xl: (),
);

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

// mixin - spinner variant
@mixin spinner-variant($variant) {
  /* 인터폴레이션으로 파라미터를 클래스명으로 만듦 */
  &:global(.variant--open-ring) {
    width: 40px;
    height: 40px;
    display: inline-block;

    svg {
      width: 100%;
      height: 100%;
      transform-origin: center;
      animation: rotate 1s linear infinite;

      /* 트랙 배경 */
      :global(.track) {
        fill: none;
        stroke: #e5e7eb; // 회색 트랙
        stroke-width: 5;
      }

      /* 회전 색상 */
      :global(.path) {
        fill: none;
        stroke: #ff4d4d; // 색상 부분
        stroke-width: 5;
        stroke-linecap: round;
        stroke-dasharray: 80 40;
        stroke-dashoffset: 0;
      }
    }
  }
}

.spinner {
  // size

  // variant
  @include spinner-variant(open-ring);
}
