@use 'sass:meta' as meta;
@use 'sass:map';
@use '../../variables' as vars;
@use '../../mixins/generate-variables' as *;

:root {
  @include generate-vars-font-family(vars.$g_project-name, ('ko', 'ja', 'en', 'code'));
  @include generate-vars-font-weight(vars.$g_project-name, vars.$g_font-weight);
  @include generate-vars-border-radius(vars.$g_project-name, vars.$g_border-radius);

  @include generate-primitive-vars(vars.$g_primitive_colors); // 원색(Primitive) 컬러 팔레트 변수
  @include generate-theme-vars('light', vars.$g_colors); // 공통 라이트 모드 컬러 변수
}

@include generate-vars-lang-typography; // Lang 속성에 따른 Typograhy 변수

.mode-dark {
  @include generate-theme-vars('dark', vars.$g_colors); // 공통 다크 모드 컬러 변수
}

/* TECH 테마 (신뢰/정석) */
[data-theme='tech'] {
  @include generate-theme-vars('light', map.get(vars.$g_theme_maps, 'tech'));

  &.mode-dark {
    @include generate-theme-vars('dark', map.get(vars.$g_theme_maps, 'tech'));
  }
}
