@use '../../variables' as vars;
@use '../../mixins/generate-variables' as *;

:root {
  @include generate-vars-font-family(vars.$g_project-name, ('ko', 'ja', 'en'));
  @include generate-vars-font-weight(vars.$g_project-name, vars.$g_font-weight);
  @include generate-vars-border-radius(vars.$g_project-name, vars.$g_border-radius);
}

// Lang 속성에 따라 Typograhy 변수 생성
@include generate-vars-lang-typography;
