/* ValidationMsg.module.scss */
@use 'sass:map';
@use '../../../../styles/mixins' as *;

// $validation-msg variant
$validation-msg-variant: (
  success: (
    bg: var(--success-bg-color-validation-msg),
    color: var(--success-text-color-validation-msg),
    icon: (
      fill: var(--success-icon-color-validation-msg),
    ),
  ),
  warning: (
    bg: var(--warning-bg-color-validation-msg),
    color: var(--warning-text-color-validation-msg),
    icon: (
      fill: var(--warning-icon-color-validation-msg),
    ),
  ),
  danger: (
    bg: var(--danger-bg-color-validation-msg),
    color: var(--danger-text-color-validation-msg),
    icon: (
      fill: var(--danger-icon-color-validation-msg),
    ),
  ),
  guide: (
    bg: var(--guide-bg-color-validation-msg),
    color: var(--guide-text-color-validation-msg),
    icon: (
      fill: var(--guide-icon-color-validation-msg),
    ),
  ),
);

$validation-msg-sizes: (
  xs: (
    font-token: var(--project-typo-helper3-500),
    gap: rem(4px),
    icon-size: rem(14px),
    padding: rem(6px) rem(10px),
    radius: rem(4px),
    margin: rem(20px) 0 0,
  ),
  sm: (
    font-token: var(--project-typo-helper2-500),
    gap: rem(6px),
    icon-size: rem(16px),
    padding: rem(8px) rem(12px),
    radius: rem(6px),
    margin: rem(20px) 0 0,
  ),
  md: (
    font-token: var(--project-typo-helper1-500),
    gap: rem(8px),
    icon-size: rem(18px),
    padding: rem(10px) rem(16px),
    radius: rem(6px),
    margin: rem(20px) 0 0,
  ),
  lg: (
    font-token: var(--project-typo-helper1-500),
    gap: rem(10px),
    icon-size: rem(20px),
    padding: rem(12px) rem(20px),
    radius: rem(8px),
    margin: rem(20px) 0 0,
  ),
  xl: (
    font-token: var(--project-typo-helper1-500),
    gap: rem(12px),
    icon-size: rem(22px),
    padding: rem(16px) rem(24px),
    radius: rem(10px),
    margin: rem(20px) 0 0,
  ),
);

.validation-msg {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  // size 적용
  @each $size-name, $props in $validation-msg-sizes {
    &:global(.size--#{$size-name}) {
      font: map.get($props, font-token);
      gap: map.get($props, gap);
      padding: map.get($props, padding);
      border-radius: map.get($props, radius);
      margin: map.get($props, margin);

      :global(.icon) {
        width: map.get($props, icon-size);
        height: map.get($props, icon-size);
      }
    }
  }

  // variant 적용
  @each $variant-name, $props in $validation-msg-variant {
    &:global(.variant--#{$variant-name}) {
      color: map.get($props, color);
      background-color: map.get($props, bg);

      :global(.icon) {
        fill: map.get(map.get($props, icon), fill);
        flex: 0 0 auto;
      }

      :global(.text) {
        color: map.get(map.get($props, icon), color);
        flex: 1 1 auto;
        white-space: normal;
        display: inline-flex;
        word-break: break-word;
      }
    }
  }
}
