/* ValidationMsg.module.scss */
@use 'sass:map';
@use 'sass:meta';
@use '../../../../styles/mixins' as *;

// $validation-msg variant
$validation-msg-variant: (
  success: (
    bg: var(--project-color-validation-msg-success-bg),
    color: var(--project-color-validation-msg-success-text),
    icon: (
      fill: none,
    ),
  ),
  warning: (
    bg: var(--project-color-validation-msg-warning-bg),
    color: var(--project-color-validation-msg-warning-text),
    icon: (
      fill: var(--project-color-validation-msg-warning-icon-fill),
    ),
  ),
  danger: (
    bg: var(--project-color-validation-msg-danger-bg),
    color: var(--project-color-validation-msg-danger-text),
    icon: (
      fill: var(--project-color-validation-msg-danger-icon-fill),
    ),
  ),
  guide: (
    bg: var(--project-color-validation-msg-guide-bg),
    color: var(--project-color-validation-msg-guide-text),
    icon: (
      fill: var(--project-color-validation-msg-guide-icon-fill),
    ),
  ),
);

$validation-msg-sizes: (
  xs: (
    font-token: var(--project-typo-helper-4-500),
    gap: rem(6px),
    icon: (
      sizes: rem(14px),
      margin: rem(1.5px) 0 0,
    ),
    padding: rem(4px) rem(8px),
    radius: rem(4px),
    margin: rem(20px) 0 0,
  ),
  sm: (
    font-token: var(--project-typo-helper-4-500),
    gap: rem(8px),
    icon: (
      sizes: rem(16px),
      margin: rem(2px) 0 0,
    ),
    padding: rem(6px) rem(12px),
    radius: rem(6px),
    margin: rem(20px) 0 0,
  ),
  md: (
    font-token: var(--project-typo-helper-3-500),
    gap: rem(10px),
    icon: (
      sizes: rem(18px),
      margin: rem(1px) 0 0,
    ),
    padding: rem(8px) rem(14px),
    radius: rem(8px),
    margin: rem(20px) 0 0,
  ),
  lg: (
    font-token: var(--project-typo-helper-2-500),
    gap: rem(12px),
    icon: (
      sizes: rem(20px),
      margin: rem(1px) 0 0,
    ),
    padding: rem(10px) rem(16px),
    radius: rem(8px),
    margin: rem(20px) 0 0,
  ),
  xl: (
    font-token: var(--project-typo-helper-1-500),
    gap: rem(14px),
    icon: (
      sizes: rem(24px),
      margin: rem(1px) 0 0,
    ),
    padding: rem(12px) rem(18px),
    radius: rem(10px),
    margin: rem(20px) 0 0,
  ),
);

.validation-msg {
  min-width: inherit;
  width: 100%;
  display: flex;
  align-items: self-start;

  // size 적용
  @each $size-name, $props in $validation-msg-sizes {
    &:global(.size--#{$size-name}) {
      $size-props: map.get($props, $size-name);
      $icon-map: map.get($props, 'icon');

      gap: map.get($props, gap);
      padding: map.get($props, padding);
      border-radius: map.get($props, radius);

      :global(.text) {
        font: map.get($props, font-token);
      }

      :global(.icon) {
        width: map.get($icon-map, sizes);
        height: map.get($icon-map, sizes);
        margin: map.get($icon-map, margin);
      }
    }
  }

  // variant 적용
  @each $variant-name, $props in $validation-msg-variant {
    &:global(.variant--#{$variant-name}) {
      color: map.get($props, color);
      background-color: map.get($props, bg);

      :global(.icon) {
        fill: map.get(map.get($props, icon), fill);
        flex: 0 0 auto;
      }

      :global(.text) {
        color: map.get(map.get($props, icon), color);
        flex: 1 1 auto;
        white-space: normal;
        display: inline-flex;
        word-break: break-word;
      }
    }
  }
}
