/* Skeleton.module.scss */
@use 'sass:map';
@use 'sass:meta';
@use '../../../../styles/mixins' as *;

.skeleton {
  position: relative;
  overflow: hidden;

  background-color: var(--bg-color-skeleton);

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg,
      var(--after-bg-gradient-color-skeleton) 0,
      var(--after-bg-gradient-shimmer-color-skeleton) 50%,
      var(--after-bg-gradient-color-skeleton) 100%
    );
    animation: shimmer 1.5s infinite linear;
  }

  @media (forced-colors: active) {
    border: 1px solid CanvasText;
    &::after {
      display: none;
    }
  }
}

.circle {
  border-radius: 50%;
}

.rect {
  border-radius: var(--project-border-radius-8, rem(8px));
}

.text {
  height: 0.8em;
  margin-bottom: 0.5rem;
  border-radius: var(--project-border-radius-4, rem(4px));

  &:last-child {
    width: 80%;
  }
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
