//───────────────────────────────────────
//  📌 variables - Global
//───────────────────────────────────────
@use 'sass:map';

// 프로젝트 정보
$g_project-name: 'project';

$g_border-radius: (
  4: 4px,
  6: 6px,
  8: 8px,
  10: 10px,
  12: 12px,
  16: 16px,
  20: 20px,
  40: 40px,
  max: 9999px,
);
