/* Label.module.scss */
@use 'sass:map';
@use 'sass:meta';
@use '../../../../styles/mixins' as *;

// label size
$label-sizes: (
  xs: var(--project-typo-label-5-500),
  sm: var(--project-typo-label-4-500),
  md: var(--project-typo-label-3-500),
  lg: var(--project-typo-label-2-500),
  xl: var(--project-typo-label-1-500),
);

// mixin - label sizes
@mixin label-size() {
  @each $size-name, $props in $label-sizes {
    &:global(.size--#{$size-name}) {
      font: $props;
    }
  }
}

.label {
  color: var(--text-color-label);
  cursor: pointer;
  flex: 1 1 auto;

  // size
  @include label-size();
}
