/* Label.module.scss */
@use 'sass:map';
@use 'sass:meta';
@use '../../../../styles/mixins' as *;

// label size
$label-sizes: (
  xs: var(--project-typo-l5-500),
  // 12px 체크박스
  sm: var(--project-typo-l4-500),
  // 16px 체크박스
  md: var(--project-typo-l3-500),
  // 20px 체크박스
  lg: var(--project-typo-l2-500),
  // 24px 체크박스
  xl: var(--project-typo-l1-500), // 28px 체크박스
);

// mixin - label sizes
@mixin label-size() {
  @each $size-name, $props in $label-sizes {
    &:global(.size--#{$size-name}) {
      font: $props;
    }
  }
}

.label {
  color: #1d1d1d;
  cursor: pointer;
  flex: 1 1 auto;

  // size
  @include label-size();
}
