/* CommandGuide.module.scss */
@use 'sass:map';
@use '../../../styles/mixins' as *;

.command-guide {
  :global {
    .command-guide__title {
      font: var(--project-typo-heading-2-700);
      border-bottom: 0;
      padding-bottom: 0;
      margin-bottom: 1.875rem;
    }
  }
}
