/* MeshBanner.module.scss */
@use 'sass:map';
@use '../../../styles/mixins' as *;

.mesh-banner {
  position: relative;
  overflow: hidden;
  height: rem(300px);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--project-border-radius-20);
  border: rem(1px) solid var(--project-color-primitive-gray-200);
  margin: 0 0 rem(60px) 0 !important;

  :global(.mesh-banner__spot--blue) {
    position: absolute;
    width: 600px;
    height: 600px;
    background: radial-gradient(
      circle,
      var(--project-color-primitive-alpha-blue-340) 0%,
      transparent 70%
    );
    top: 10%;
    left: 10%;
    animation: move-1 10s infinite alternate ease-in-out;
  }

  :global(.mesh-banner__spot--purple) {
    position: absolute;
    width: rem(500px);
    height: rem(500px);
    background: radial-gradient(
      circle,
      var(--project-color-primitive-alpha-indigo-540) 0%,
      transparent 70%
    );
    bottom: 20%;
    right: 10%;
    animation: move-2 12s infinite alternate ease-in-out;
  }

  :global(.mesh-banner__spot--pink) {
    position: absolute;
    width: rem(450px);
    height: rem(450px);
    background: radial-gradient(
      circle,
      var(--project-color-primitive-alpha-pink-250) 0%,
      transparent 70%
    );
    top: 20%;
    right: 20%;
    animation: move-3 18s infinite alternate ease-in-out;
  }

  :global(.mesh-banner__spot--cyan) {
    position: absolute;
    width: rem(550px);
    height: rem(550px);
    background: radial-gradient(
      circle,
      var(--project-color-primitive-alpha-green-240) 0%,
      transparent 70%
    );
    bottom: 10%;
    left: 20%;
    animation: move-4 22s infinite alternate ease-in-out;
  }

  :global {
    .mesh-banner__bg {
      position: absolute;
      top: -50%;
      left: -50%;
      width: 200%;
      height: 200%;
      filter: blur(rem(50px));
      opacity: 0.8;
      z-index: 0;
    }

    .mesh-banner__content {
      position: relative;
      z-index: 1;
      text-align: center;
    }

    .mesh-banner__title {
      color: var(--project-color-primitive-gray-940);
      font: var(--project-typo-display-2-700);
      margin: 0;
      filter: drop-shadow(0 0 10px var(--project-color-primitive-alpha-gray-140));
    }

    .mesh-banner__sub {
      font: var(--project-typo-sub-title-3-600);
      margin: rem(24px) 0 0;
      display: inline-block;
    }

    .mesh-banner__desc {
      font: var(--project-typo-sub-title-3-600);
      margin-top: rem(8px);
    }

    .mesh-banner__info {
      font: var(--project-typo-sub-title-4-700);
      color: var(--project-color-primitive-sky-600);
      margin-top: rem(24px);
    }

    @keyframes move-1 {
      0% {
        transform: translate(0, 0) rotate(0deg);
      }
      100% {
        transform: translate(50%, 30%) rotate(120deg);
      }
    }

    @keyframes move-2 {
      0% {
        transform: translate(0, 0) rotate(0deg);
      }
      100% {
        transform: translate(-40%, -10%) rotate(-120deg);
      }
    }

    @keyframes move-3 {
      0% {
        transform: translate(0, 0);
      }
      100% {
        transform: translate(-20%, 30%);
      }
    }
    @keyframes move-4 {
      0% {
        transform: translate(0, 0);
      }
      100% {
        transform: translate(25%, -25%);
      }
    }
  }
}
