/* DataTable.module.scss */
@use 'sass:map';
@use 'sass:meta';
@use '../../../../styles/mixins' as *;

// data-table sizes
$data-table-sizes: (
  sm: (
    min-height: rem(32px),
    th-padding: rem(4px) rem(8px),
    td-padding: rem(9.5px) rem(8px),
    border-spacing: 0 rem(1px),
    th-radius: rem(8px),
    th-gap: rem(0px),
    th-font: var(--project-typo-data-table-3-700),
    font: var(--project-typo-data-table-3-500),
    empty-state-font: var(--project-typo-data-table-3-500),
    notice-icon-size: rem(14px),
  ),
  md: (
    min-height: rem(36px),
    th-padding: rem(4px) rem(8px),
    td-padding: rem(9.5px) rem(8px),
    border-spacing: 0 rem(1px),
    th-radius: rem(8px),
    th-gap: rem(0px),
    th-font: var(--project-typo-data-table-2-700),
    font: var(--project-typo-data-table-2-500),
    empty-state-font: var(--project-typo-data-table-2-500),
    notice-icon-size: rem(18px),
  ),
  lg: (
    min-height: rem(40px),
    th-padding: rem(4px) rem(8px),
    td-padding: rem(9.5px) rem(8px),
    border-spacing: 0 rem(1px),
    th-radius: rem(8px),
    th-gap: rem(0px),
    th-font: var(--project-typo-data-table-1-700),
    font: var(--project-typo-data-table-1-500),
    empty-state-font: var(--project-typo-data-table-1-500),
    notice-icon-size: rem(18px),
  ),
);

// data-table colors
$data-table-colors: (
  primary: (
    solid: (
      border: var(--project-color-primary-data-table-solid-outer-border),
      tbody-border: var(--project-color-primary-data-table-solid-tbody-border),
      th-bg: var(--project-color-primary-data-table-solid-thead-bg),
      th-text: var(--project-color-primary-data-table-solid-thead-text),
      tbody-bg: var(--project-color-primary-data-table-solid-tbody-bg),
      tbody-text: var(--project-color-primary-data-table-solid-tbody-text),
      notice-tr-bg: var(--project-color-primary-data-table-solid-notice-tr-bg),
    ),
    outline: (
      border: var(--project-color-primary-data-table-outline-outer-border),
      tbody-border: var(--project-color-primary-data-table-outline-tbody-border),
      th-bg: var(--project-color-primary-data-table-outline-thead-bg),
      th-text: var(--project-color-primary-data-table-outline-thead-text),
      tbody-bg: var(--project-color-primary-data-table-outline-tbody-bg),
      tbody-text: var(--project-color-primary-data-table-outline-tbody-text),
      notice-tr-bg: var(--project-color-primary-data-table-outline-notice-tr-bg),
    ),
  ),
  secondary: (
    solid: (
      border: var(--project-color-secondary-data-table-solid-outer-border),
      tbody-border: var(--project-color-secondary-data-table-solid-tbody-border),
      th-bg: var(--project-color-secondary-data-table-solid-thead-bg),
      th-text: var(--project-color-secondary-data-table-solid-thead-text),
      tbody-bg: var(--project-color-secondary-data-table-solid-tbody-bg),
      tbody-text: var(--project-color-secondary-data-table-solid-tbody-text),
      notice-tr-bg: var(--project-color-secondary-data-table-solid-notice-tr-bg),
    ),
    outline: (
      border: var(--project-color-secondary-data-table-outline-outer-border),
      tbody-border: var(--project-color-secondary-data-table-outline-tbody-border),
      th-bg: var(--project-color-secondary-data-table-outline-thead-bg),
      th-text: var(--project-color-secondary-data-table-outline-thead-text),
      tbody-bg: var(--project-color-secondary-data-table-outline-tbody-bg),
      tbody-text: var(--project-color-secondary-data-table-outline-tbody-text),
      notice-tr-bg: var(--project-color-secondary-data-table-outline-notice-tr-bg),
    ),
  ),
  tertiary: (
    solid: (
      border: var(--project-color-tertiary-data-table-solid-outer-border),
      tbody-border: var(--project-color-tertiary-data-table-solid-tbody-border),
      th-bg: var(--project-color-tertiary-data-table-solid-thead-bg),
      th-text: var(--project-color-tertiary-data-table-solid-thead-text),
      tbody-bg: var(--project-color-tertiary-data-table-solid-tbody-bg),
      tbody-text: var(--project-color-tertiary-data-table-solid-tbody-text),
      notice-tr-bg: var(--project-color-tertiary-data-table-solid-notice-tr-bg),
    ),
    outline: (
      border: var(--project-color-tertiary-data-table-outline-outer-border),
      tbody-border: var(--project-color-tertiary-data-table-outline-tbody-border),
      th-bg: var(--project-color-tertiary-data-table-outline-thead-bg),
      th-text: var(--project-color-tertiary-data-table-outline-thead-text),
      tbody-bg: var(--project-color-tertiary-data-table-outline-tbody-bg),
      tbody-text: var(--project-color-tertiary-data-table-outline-tbody-text),
      notice-tr-bg: var(--project-color-tertiary-data-table-outline-notice-tr-bg),
    ),
  ),
);

.data-table {
  width: 100%;

  &:focus-visible {
    outline: 1px solid var(--project-color-interaction-focus-ring);
    outline-offset: -2px;
  }

  th,
  td {
    vertical-align: middle;
    text-align: center;
  }

  thead th {
    word-break: break-word;
    line-height: initial;
  }

  tbody tr {
    transition: all 0.2s ease-out;
  }

  @each $size-name, $props in $data-table-sizes {
    @include global-mod('size--#{$size-name}') {
      @include global-mod('variant--solid') {
        thead {
          tr {
            &:first-child {
              th:first-child {
                border-top-left-radius: map.get($props, th-radius);
              }
              th:last-child {
                border-top-right-radius: map.get($props, th-radius);
              }
            }
          }
        }

        tbody {
          tr {
            &:first-child {
              th:first-child {
                border-top-left-radius: map.get($props, th-radius);
              }
              th:last-child {
                border-top-right-radius: map.get($props, th-radius);
              }
            }

            &:last-child {
              td:first-child {
                border-bottom-left-radius: map.get($props, th-radius);
              }
              td:last-child {
                border-bottom-right-radius: map.get($props, th-radius);
              }
            }
          }
        }

        :global(.data-table__root) {
          // border-collapse: separate;
          border-collapse: collapse;
        }
      }

      @include global-mod('variant--outline') {
        :global(.data-table__root) {
          border-collapse: collapse;
        }
      }

      thead {
        th {
          padding: map.get($props, th-padding);
        }
      }

      tbody {
        tr {
          td {
            min-height: map.get($props, min-height);
            padding: map.get($props, td-padding);
            font: map.get($props, font);
            word-break: break-word;
          }
        }
      }

      :global {
        .data-table__root {
          border-spacing: map.get($props, border-spacing);
        }

        .data-table__status-icon {
          display: flex;
          align-items: center;
          justify-content: center;

          .icon {
            width: map.get($props, notice-icon-size);
            height: map.get($props, notice-icon-size);
          }
        }

        .data-table__thead-cell {
          min-height: map.get($props, min-height);
          font: map.get($props, th-font);
          gap: map.get($props, th-gap);
        }

        .data-table__notice-cell {
          :global(.icon) {
            width: map.get($props, notice-icon-size);
            height: map.get($props, notice-icon-size);
          }
        }

        .data-table__empty-state {
          font: map.get($props, empty-state-font);
        }
      }
    }
  }

  @each $color-name, $variants in $data-table-colors {
    // colors
    @include global-mod('color--#{$color-name}') {
      @each $variant-name, $props in $variants {
        // variant
        @include global-mod('variant--#{$variant-name}') {
          @if $variant-name == 'solid' {
            border: rem(1px) solid map.get($props, border);

            thead {
              tr {
                th {
                  background-color: map.get($props, th-bg);
                  color: map.get($props, th-text);
                }
              }
            }

            tbody {
              background-color: map.get($props, tbody-bg);
              color: map.get($props, tbody-text);

              tr {
                border-top: rem(1px) solid map.get($props, tbody-border);
              }
            }

            :global {
              .data-table__notice-row {
                background-color: map.get($props, notice-tr-bg);
              }
            }
          } @else if $variant-name == 'outline' {
            border-top: rem(1px) solid map.get($props, border);
            border-bottom: rem(1px) solid map.get($props, border);

            thead {
              tr {
                th {
                  background-color: map.get($props, th-bg);
                  color: map.get($props, th-text);
                }
              }
            }

            tbody {
              background-color: map.get($props, tbody-bg);
              color: map.get($props, tbody-text);

              tr {
                border-top: rem(1px) solid map.get($props, tbody-border);
              }
            }

            :global {
              .data-table__notice-row {
                background-color: map.get($props, notice-tr-bg);
              }
            }
          }
        }
      }
    }
  }

  :global {
    .data-table__root {
      width: 100%;
    }
    .data-table__caption {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      border: 0;
    }

    .data-table__checkbox-cell {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .data-table__notice-row {
      .data-table__link {
        font-weight: var(--project-font-weight-700);
      }
    }

    .data-table__link {
      display: inline-flex;
      align-items: center;
      width: 100%;
      text-align: left;

      &:hover {
        text-decoration: underline;
      }
    }

    .data-table__link-title {
      @include ell();
    }
    .data-table__comment-count {
      flex: 0 0 auto;
      margin-left: rem(10px);
    }

    .data-table__thead-cell {
      display: flex;
      justify-content: center;
      align-items: center;
      word-break: break-all;
    }
    .data-table__empty-state {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: rem(200px);
    }
  }
}
