/* Tag.module.scss */
@use 'sass:map';
@use 'sass:meta';
@use '../../../../styles/mixins' as *;

$tag-sizes: (
  sm: (
    height: rem(28px),
    padding: 0 rem(12px),
    font: var(--project-typo-tag-2-500),
    with-icon-padding: 0 rem(6px) 0 rem(14px),
    radius: rem(5px),
    gap: rem(6px),
    icon-size: rem(12px),
    delete-btn-size: rem(18px),
  ),
  md: (
    height: rem(32px),
    padding: 0 rem(14px),
    font: var(--project-typo-tag-1-500),
    with-icon-padding: 0 rem(8px) 0 rem(16px),
    radius: rem(5px),
    gap: rem(8px),
    icon-size: rem(14px),
    delete-btn-size: rem(20px),
  ),
);

$tag-colors: (
  primary: (
    solid: (
      bg: var(--project-color-primary-tag-solid-bg),
      label: var(--project-color-primary-tag-solid-text),
      icon: var(--project-color-primary-tag-solid-icon-fill),
      hover-bg: var(--project-color-primary-tag-solid-bg-hover),
    ),
    outline: (
      bg: var(--project-color-primary-tag-outline-bg),
      label: var(--project-color-primary-tag-outline-text),
      icon: var(--project-color-primary-tag-outline-icon-fill),
      border: var(--project-color-primary-tag-outline-border),
      hover-bg: var(--project-color-primary-tag-outline-bg-hover),
    ),
  ),
  secondary: (
    solid: (
      bg: var(--project-color-secondary-tag-solid-bg),
      label: var(--project-color-secondary-tag-solid-text),
      icon: var(--project-color-secondary-tag-solid-icon-fill),
      hover-bg: var(--project-color-secondary-tag-solid-bg-hover),
    ),
    outline: (
      bg: var(--project-color-secondary-tag-outline-bg),
      label: var(--project-color-secondary-tag-outline-text),
      icon: var(--project-color-secondary-tag-outline-icon-fill),
      border: var(--project-color-secondary-tag-outline-border),
      hover-bg: var(--project-color-secondary-tag-outline-bg-hover),
    ),
  ),
  tertiary: (
    solid: (
      bg: var(--project-color-tertiary-tag-solid-bg),
      label: var(--project-color-tertiary-tag-solid-text),
      icon: var(--project-color-tertiary-tag-solid-icon-fill),
      hover-bg: var(--project-color-tertiary-tag-solid-bg-hover),
    ),
    outline: (
      bg: var(--project-color-tertiary-tag-outline-bg),
      label: var(--project-color-tertiary-tag-outline-text),
      icon: var(--project-color-tertiary-tag-outline-icon-fill),
      border: var(--project-color-tertiary-tag-outline-border),
      hover-bg: var(--project-color-tertiary-tag-outline-bg-hover),
    ),
  ),
);

.tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;

  @each $size-name, $size-map in $tag-sizes {
    @include global-mod('size--#{$size-name}') {
      height: map.get($size-map, height);
      padding: map.get($size-map, padding);
      gap: map.get($size-map, gap);

      @include global-mod('shape--square') {
        border-radius: 0px;
      }
      @include global-mod('shape--rounded') {
        border-radius: map.get($size-map, radius);
      }
      @include global-mod('shape--pill') {
        border-radius: var(--project-border-radius-max);
      }

      :global {
        .tag__label {
          font: map.get($size-map, font);
        }

        .icon {
          width: map.get($size-map, icon-size);
          height: map.get($size-map, icon-size);
        }

        .tag__delete-btn {
          border-radius: var(--project-border-radius-max);
          width: map.get($size-map, delete-btn-size);
          height: map.get($size-map, delete-btn-size);
        }
      }
    }
  }

  @each $color-name, $color-map in $tag-colors {
    // color
    @include global-mod('color--#{$color-name}') {
      @each $variant-name, $variant-map in $color-map {
        // variant
        @include global-mod('variant--#{$variant-name}') {
          @if $variant-name == 'solid' {
            background-color: map.get($variant-map, bg);
            color: map.get($variant-map, label);

            @at-root button#{&},
              a#{&} {
              &:hover {
                background-color: map.get($variant-map, hover-bg);
              }

              &:active {
                transform: scale(0.95);
              }
            }
          } @else if $variant-name == 'outline' {
            background-color: map.get($variant-map, bg);
            border: rem(1px) solid map.get($variant-map, border);
            color: map.get($variant-map, label);

            @at-root button#{&},
              a#{&} {
              &:hover {
                background-color: map.get($variant-map, hover-bg);
              }

              &:active {
                transform: scale(0.95);
              }
            }
          }
        }
      }
    }
  }

  :global {
    .tag__label {
      width: max-content;
      flex: 1 1 auto;
    }

    .icon {
      flex: 0 0 auto;
    }

    .tag__delete-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.2s ease;
    }
  }
}
