/* FormFieldset.module.scss */
@use 'sass:map';
@use '../../../../styles/mixins' as *;

// legend size
$legend-sizes: (
  xs: (
    font-token: var(--project-typo-legend5-600),
    margin: 0 0 rem(24px),
  ),
  sm: (
    font-token: var(--project-typo-legend4-600),
    margin: 0 0 rem(24px),
  ),
  md: (
    font-token: var(--project-typo-legend3-600),
    margin: 0 0 rem(24px),
  ),
  lg: (
    font-token: var(--project-typo-legend2-600),
    margin: 0 0 rem(24px),
  ),
  xl: (
    font-token: var(--project-typo-legend1-600),
    margin: 0 0 rem(24px),
  ),
);

// mixin - legend sizes
@mixin legend-size {
  @each $size-name, $props in $legend-sizes {
    // ──────────────── 기본 데이터 추출 ────────────────
    $font-token: map.get($props, font-token);
    $margin: map.get($props, margin);

    // ──────────────── PC 스타일 ────────────────
    &:global(.size--#{$size-name}) {
      :global(.legend) {
        font: $font-token;
        margin: $margin;
        display: inline-flex;
        align-items: center;
        gap: rem(4px);
        flex-wrap: wrap;

        :global(.requried) {
          color: #d32f2f;
        }
      }
    }
  }
}

.form-fieldset {
  width: inherit;
  display: flex;
  flex-direction: column;

  @include legend-size;
}
