/* Accordion.module.scss */
@use 'sass:map';
@use '../../../../styles/mixins' as *;

// accordion sizes
$accordion-sizes: (
  sm: (
    header-font: var(--project-typo-AccordionText3-700),
    header-padding: 0,
    panel-padding: 0,
    panel-min-height: rem(54px),
    radius: 0,
    content-font: var(--project-typo-AccordionText3-500),
    content-padding: rem(12px) rem(20px),
    content-radius: 0,
    sub-content-font: var(--project-typo-AccordionSubText3-500),
    trigger-min-height: rem(54px),
    trigger-padding: 0 rem(20px),
  ),
  md: (
    header-font: var(--project-typo-AccordionText2-700),
    header-padding: 0,
    panel-padding: 0,
    panel-min-height: rem(54px),
    radius: 0,
    content-font: var(--project-typo-AccordionText2-500),
    content-padding: rem(12px) rem(20px),
    content-radius: 0,
    sub-content-font: var(--project-typo-AccordionSubText2-500),
    trigger-min-height: rem(54px),
    trigger-padding: 0 rem(20px),
  ),
  lg: (
    header-font: var(--project-typo-AccordionText1-700),
    header-padding: 0,
    panel-padding: 0,
    panel-min-height: rem(54px),
    radius: 0,
    content-font: var(--project-typo-AccordionText1-500),
    content-padding: rem(12px) rem(20px),
    content-radius: 0,
    sub-content-font: var(--project-typo-AccordionSubText1-500),
    trigger-min-height: rem(54px),
    trigger-padding: 0 rem(20px),
  ),
);

// accordion colors
$accordion-colors: (
  primary: (
    header-bg: rgb(217, 239, 248),
    header-text: #333,
    panel-bg: rgb(217, 239, 248),
  ),
  secondary: (
    header-bg: gray,
    header-text: #333,
    panel-bg: gray,
  ),
  tertiary: (
    header-bg: purple,
    header-text: #333,
    panel-bg: purple,
  ),
);

.accordion {
  width: 100%;
  display: flex;
  flex-direction: column;

  @include global-mod('accordion__nested') {
    @each $color-name, $props in $accordion-colors {
      @include global-mod('color--#{$color-name}') {
        :global {
          .accordion__trigger {
            background-color: lightgray;
            min-height: rem(48px);
            padding: rem(12px) rem(18px);

            .accordion__title {
              font: var(--project-typo-AccordionText3-700);
            }

            .icon {
              width: rem(20px);
              height: rem(20px);
            }
          }

          .accordion__content {
            border-bottom-left-radius: rem(8px);
            border-bottom-right-radius: rem(8px);
            font: var(--project-typo-AccordionText3-500);
          }
        }
      }
    }
  }

  @each $size-name, $props in $accordion-sizes {
    @include global-mod('size--#{$size-name}') {
      border-radius: map.get($props, radius);

      @include global-mod('is-first') {
        &:global {
          & > .accordion__panel {
            & > .accordion__content-inner {
              & > .accordion__content:has(~ .accordion__nested-group) {
                margin: 0 rem(20px);
                border-radius: rem(8px);
                font: var(--project-typo-AccordionText2-500);
              }
            }
          }
        }
      }

      :global {
        .accordion__title {
          font: map.get($props, header-font);
          padding: map.get($props, header-padding);
        }

        .accordion__trigger {
          padding: rem(12px) rem(24px);
          min-height: rem(58px);

          &[aria-expanded='false'] {
            border-radius: rem(8px);
          }

          &[aria-expanded='true'] {
            border-top-left-radius: rem(8px);
            border-top-right-radius: rem(8px);
          }
        }

        .accordion__panel {
          padding: map.get($props, panel-padding);
          border-bottom-left-radius: rem(8px);
          border-bottom-right-radius: rem(8px);
        }

        .accordion__content-inner {
        }

        .accordion__content {
          min-height: map.get($props, panel-min-height);
          font: var(--project-typo-AccordionText2-500);
          padding: map.get($props, content-padding);
          border-bottom-left-radius: rem(8px);
          border-bottom-right-radius: rem(8px);
        }

        .accordion__nested-group {
          display: flex;
          flex-direction: column;
          gap: rem(10px);
          margin-top: rem(10px);
          padding: 0 rem(20px) rem(20px);
        }
      }
    }
  }

  @each $color-name, $props in $accordion-colors {
    @include global-mod('color--#{$color-name}') {
      :global {
        .accordion__trigger {
          background-color: map.get($props, header-bg);
          color: map.get($props, header-text);
        }

        .accordion__panel {
          background-color: rgb(217, 239, 248);
        }

        .accordion__content {
          background-color: rgb(246, 246, 246);
        }
      }
    }
  }

  :global {
    .accordion__header {
      button {
        width: 100%;
        display: flex;
        align-items: center;
        gap: rem(10px);
      }
    }

    .accordion__trigger {
      .icon {
        flex: 0 0 auto;
      }
    }

    .accordion__title {
      flex: 1 1 auto;
      text-align: left;
      word-break: keep-all;
    }

    .accordion__panel {
    }

    .accordion__content-inner {
      display: flex;
      flex-direction: column;
    }

    .accordion__content {
      flex: 1 1 auto;
      word-break: keep-all;
    }

    .accordion__nested-group {
    }
  }
}
