/* Accordion.module.scss */
@use 'sass:map';
@use '../../../../styles/mixins' as *;

// accordion sizes
$accordion-sizes: (
  sm: (
    width: rem(360px),
    radius: rem(6px),
    first-margin: rem(18px) 0 0 0,
    trigger: (
      font: var(--project-typo-AccordionText3-700),
      padding: rem(10px) rem(18px),
      min-height: rem(44px),
      icon-size: rem(20px),
    ),
    panel: (
      padding: rem(18px),
    ),
    content: (
      font: var(--project-typo-AccordionText3-500),
    ),
    nested: (
      trigger-font: var(--project-typo-AccordionSubText4-700),
      trigger-min-height: rem(27px),
      trigger-padding: rem(10px) rem(16px),
      content-font: var(--project-typo-AccordionSubText4-500),
      panel-padding: rem(16px),
      group-margin: rem(16px) 0 0 0,
      group-gap: rem(16px),
      icon-size: rem(18px),
    ),
  ),
  md: (
    width: rem(768px),
    radius: rem(8px),
    first-margin: rem(16px) 0 0 0,
    trigger: (
      font: var(--project-typo-AccordionText2-700),
      padding: rem(12px) rem(24px),
      min-height: rem(52px),
      icon-size: rem(22px),
    ),
    panel: (
      padding: rem(16px) rem(24px),
    ),
    content: (
      font: var(--project-typo-AccordionText2-500),
    ),
    nested: (
      trigger-font: var(--project-typo-AccordionSubText2-700),
      trigger-min-height: rem(26px),
      trigger-padding: rem(12px) rem(18px),
      content-font: var(--project-typo-AccordionSubText2-500),
      panel-padding: rem(18px),
      group-margin: rem(18px) 0 0 0,
      group-gap: rem(18px),
      icon-size: rem(20px),
    ),
  ),
  lg: (
    width: 100%,
    radius: rem(10px),
    first-margin: rem(26px) 0 0 0,
    trigger: (
      font: var(--project-typo-AccordionText1-700),
      padding: rem(14px) rem(28px),
      min-height: rem(60px),
      icon-size: rem(26px),
    ),
    panel: (
      padding: rem(26px),
    ),
    content: (
      font: var(--project-typo-AccordionText1-500),
    ),
    nested: (
      trigger-font: var(--project-typo-AccordionSubText1-700),
      trigger-min-height: rem(31px),
      trigger-padding: rem(14px) rem(20px),
      content-font: var(--project-typo-AccordionSubText1-500),
      panel-padding: rem(20px),
      group-margin: rem(20px) 0 0 0,
      group-gap: rem(20px),
      icon-size: rem(22px),
    ),
  ),
);

// accordion colors
$accordion-colors: (
  primary: (
    header-bg: var(--primary-header-bg-color),
    header-hover-bg: var(--primary-hover-header-bg-color),
    header-text: var(--primary-header-text-color),
    panel-bg: var(--primary-panel-bg-color),
    nested: (
      header-bg: var(--primary-nested-header-bg-color),
      header-hover-bg: var(--primary-nested-hover-header-bg-color),
      header-text: var(--primary-nested-header-text-color),
      header-icon: var(--primary-nested-header-icon-color),
      panel-bg: var(--primary-nested-panel-bg-color),
    ),
  ),
  secondary: (
    header-bg: var(--secondary-header-bg-color),
    header-hover-bg: var(--secondary-hover-header-bg-color),
    header-text: var(--secondary-header-text-color),
    panel-bg: var(--secondary-panel-bg-color),
    nested: (
      header-bg: var(--secondary-nested-header-bg-color),
      header-hover-bg: var(--secondary-nested-hover-header-bg-color),
      header-text: var(--secondary-nested-header-text-color),
      header-icon: var(--secondary-nested-header-icon-color),
      panel-bg: var(--secondary-nested-panel-bg-color),
    ),
  ),
  tertiary: (
    header-bg: var(--tertiary-header-bg-color),
    header-hover-bg: var(--tertiary-hover-header-bg-color),
    header-text: var(--tertiary-header-text-color),
    panel-bg: var(--tertiary-panel-bg-color),
    nested: (
      header-bg: var(--tertiary-nested-header-bg-color),
      header-hover-bg: var(--tertiary-nested-hover-header-bg-color),
      header-text: var(--tertiary-nested-header-text-color),
      header-icon: var(--tertiary-nested-header-icon-color),
      panel-bg: var(--tertiary-nested-panel-bg-color),
    ),
  ),
);

.accordion {
  // width: 100%;
  display: flex;
  flex-direction: column;

  @each $size-name, $props in $accordion-sizes {
    $nested-map: map.get($props, nested);
    $trigger-map: map.get($props, trigger);
    $panel-map: map.get($props, panel);
    $content-map: map.get($props, content);

    @include global-mod('size--#{$size-name}') {
      @include global-mod('accordion__first') {
        filter: drop-shadow(0 0.375rem 0.75rem var(--drop-shadow-color-accordion));
        width: map.get($props, width);

        &:global {
          & > .accordion__panel {
            & > .accordion__content-inner {
              & > .accordion__nested-group {
                margin: map.get($props, first-margin);
              }
            }
          }
        }
      }

      :global {
        .accordion__trigger {
          padding: map.get($trigger-map, padding);
          min-height: map.get($trigger-map, min-height);

          &[aria-expanded='false'] {
            border-radius: map.get($props, radius);
          }

          &[aria-expanded='true'] {
            border-top-left-radius: map.get($props, radius);
            border-top-right-radius: map.get($props, radius);
          }

          .icon {
            width: map.get($trigger-map, icon-size);
            height: map.get($trigger-map, icon-size);
          }
        }

        .accordion__title {
          font: map.get($trigger-map, font);
        }

        .accordion__panel {
          padding: map.get($panel-map, padding);
          border-bottom-left-radius: map.get($props, radius);
          border-bottom-right-radius: map.get($props, radius);
        }

        .accordion__content {
          font: map.get($content-map, font);
        }

        // 중첩된 스타일
        .accordion__nested-group {
          margin: map.get($nested-map, group-margin);
          gap: map.get($nested-map, group-gap);

          .accordion__nested {
            .accordion__trigger {
              min-height: map.get($nested-map, trigger-min-height);
              padding: map.get($nested-map, trigger-padding);
            }

            .accordion__title {
              font: map.get($nested-map, trigger-font);
            }

            .icon {
              width: map.get($nested-map, icon-size);
              height: map.get($nested-map, icon-size);
            }

            .accordion__panel {
              padding: map.get($nested-map, panel-padding);
            }

            .accordion__content {
              font: map.get($nested-map, content-font);
            }
          }
        }
      }
    }
  }

  @each $color-name, $props in $accordion-colors {
    $nested-map: map.get($props, nested);

    @include global-mod('color--#{$color-name}') {
      :global {
        .accordion__trigger {
          background-color: map.get($props, header-bg);
          color: map.get($props, header-text);
          transition: all 0.2s ease;

          &:hover {
            background-color: map.get($props, header-hover-bg);
          }
        }

        .icon {
          color: map.get($props, header-text);
        }

        .accordion__panel {
          background-color: map.get($props, panel-bg);
        }

        // 중첩된 스타일
        .accordion__nested {
          .accordion__trigger {
            background-color: map.get($nested-map, header-bg);
            color: map.get($nested-map, header-text);

            &:hover {
              background-color: map.get($nested-map, header-hover-bg);
            }
          }

          .icon {
            color: map.get($nested-map, header-icon);
          }

          .accordion__panel {
            background-color: map.get($nested-map, panel-bg);
          }
        }
      }
    }
  }

  :global {
    .accordion__header {
      button {
        width: 100%;
        display: flex;
        align-items: center;
        gap: rem(10px);
      }
    }

    .accordion__trigger {
      .icon {
        flex: 0 0 auto;
      }
    }

    .accordion__title {
      flex: 1 1 auto;
      text-align: left;
      word-break: keep-all;
    }

    .accordion__content-inner {
      display: flex;
      flex-direction: column;
    }

    .accordion__content {
      flex: 1 1 auto;
      word-break: keep-all;
    }

    .accordion__nested-group {
      display: flex;
      flex-direction: column;
    }
  }
}
